#
# example bootstrap-platform config file for local platform
#

self.output_directory = '/tmp/opscode-platform-test'

# PostgreSQL in Dev Mode:
self.db_driver = "postgres"
self.db_host = 'localhost'
self.db_user = ENV['USER']
self.db_password = ''

# MySQL in Dev Mode:
#self.db_driver = "mysql2"
#self.db_host = 'localhost'
#self.db_user = 'root'
#self.db_password = ''

self.couchdb_host = 'localhost'
self.couchdb_port = '5984'

self.bifrost_host = 'localhost'
self.bifrost_port = '5959'
self.bifrost_superuser_id = '0000000000000000'

self.superuser_cert = '/tmp/opscode-platform-test/superuser.cert'
self.superuser_key  = '/tmp/opscode-platform-test/superuser.pem'
