%% -*- mode: erlang -*-
[
 {kernel, [{start_pg2, true}]},
 %% SASL config
 {sasl, [
         {sasl_error_logger, {file, "log/sasl-error.log"}},
         {errlog_type, error},
         {error_logger_mf_dir, "log/sasl"},      % Log directory
         {error_logger_mf_maxbytes, 10485760},   % 10 MB max file size
         {error_logger_mf_maxfiles, 5}           % 5 files max
        ]},
 {fast_log, [
             {loggers, [[{name, erchef},
                         {file, "log/erchef.log"},
                         {files, 5},
                         {file_size, 50}]]}
            ]},
 {stats_hero, [
               {udp_socket_pool_size, {{udp_socket_pool_size}} },
               {protocol, estatsd},
               {estatsd_host, "{{estatsd_server}}" },
               {estatsd_port, {{estatsd_port}} }
              ]},
 {chef_rest, [
              {ip, "{{chef_rest_ip}}"},
              {port, {{chef_rest_port}} },
              {reqid_header_name, "X-Request-Id"},
              {auth_skew, 900},
              %% currently only used by the search endpoint to bound
              %% how many nodes are deserialized at a time in
              %% preparing a response.
              {bulk_fetch_batch_size, {{bulk_fetch_batch_size}} },
              {estatsd_server, "{{estatsd_server}}"},
              {estatsd_port, {{estatsd_port}} }
             ]},
 {chef_common, [
                %% Yes, this is the same as in chef_rest... initially
                %% that was the only place that needed this bulk fetch
                %% stuff, but now we also need it in chef_common.
                %%
                %% This'll go away once we can dynamically generate
                %% queries in sqerl, though, so no biggie.
                {bulk_fetch_batch_size, {{bulk_fetch_batch_size}} },
                {solr_url, "{{solr_url}}" },
                {couchdb_host, "{{couchdb_server}}"},
                {couchdb_port, {{couchdb_port}} },
                {dark_launch_sql_users, {{sql_users}} },

                {authz_root_url, "{{authz_root_url}}" },
                {keyring, [{default, "{{keyring_default}}"}]},
                {keyring_dir, "{{keyring_dir}}"}

               ]},
 {darklaunch, [
               {config, "{{darklaunch_config}}" },
               {reload_time, {{darklaunch_reload_time}} }
              ]},
 {sqerl, [
          %% The database system you are using (e.g., mysql, pgsql)
          {db_type, {{db_type}} },

          %% Database connection parameters
          {db_host, "{{db_host}}" },
          {db_port, {{db_port}} },
          {db_user, "{{db_user}}" },
          {db_name,   "{{db_name}}" },
          {idle_check, 10000},
          {prepared_statements, {chef_sql, statements, [ {{db_type}} ]} },
          %% what's this?
          {column_transforms, undefined}
         ]},

 {pooler, [
           {pools, [[{name, sqerl},
                     {max_count, {{db_pool_size}} },
                     {init_count, {{db_pool_size}} },
                     {start_mfa, {sqerl_client, start_link, []}}]]},
           {metrics_module, folsom_metrics}
          ]}
].
