%% -*- mode: erlang -*-
%% Development/Test sys.config with logging to /tmp
[
    {lager, [
        {handlers, [
            {lager_console_backend, [debug, {lager_default_formatter, ["[", severity, "] ", message, "\n"]}]},
            {lager_file_backend, [
                {file, "/tmp/erchef.log"},
                {level, debug},
                {size, 104857600},
                {date, "$D0"},
                {count, 5},
                {formatter_config, [date, " ", time, " [", severity, "] ", message, "\n"]}
            ]}
        ]},
        {crash_log, "/tmp/erchef_crash.log"},
        {crash_log_msg_size, 65536},
        {crash_log_size, 104857600},
        {crash_log_date, "$D0"},
        {crash_log_count, 5},
        {error_logger_redirect, true},
        {error_logger_hwm, 1000}
    ]}
].
