%% -*- mode: erlang -*-
{couchdb_server, "localhost"}.
{couchdb_port, 5984}.
{chef_rest_ip, "127.0.0.1"}.
{chef_rest_port, 4001}.
{estatsd_server, "127.0.0.1"}.
{estatsd_port, 5665}.
%% a conservative value is to match the db_pool_size value.
{udp_socket_pool_size, 5}.
{bulk_fetch_batch_size, 5}.
{solr_url, "http://localhost:8983/solr"}.

%% databass
{db_host, "localhost"}.
{db_pool_size, 5}.
{db_type, pgsql}.
{db_port, 3306}.
{db_user, "dev"}.
{db_name, "opscode_chef"}.

{authz_root_url, "http://localhost:5959"}.

{keyring_default, "/etc/opscode/webui_pub.pem"}.
{keyring_dir, "/etc/opscode"}.

{sql_users, true}.

{darklaunch_config, "/etc/opscode/dark_launch_features.json"}.
{darklaunch_reload_time, 10000}.

{max_cache_size, 10000}.
%% 1 hour (in seconds)
{cache_ttl, 3600}.
