/.bundle
/coverage
/db/*.sql
/db/*.sqlite3
/db/*.sqlite3-journal
/log/*.log
/tmp

lib/omniauth-chef/Gemfile.lock
lib/omniauth-chef/config/webui_priv.pem

config/settings.local.yml
config/settings/*.local.yml
config/environments/*.local.yml
