%% -*- mode: erlang; -*-

%% Examples:

%% [{bookshelf,
%%   [{domains   , ["localhost.localdomain"]},
%%    {interface , "lo"},
%%    {port      , 8080},
%%    {dir       , priv_dir},
%%    {keys      , {"e1efc99729beb175",
%%                  "fc683cd9ed1990ca"}
%%    }]
%%  }].

%% [{bookshelf,
%%   [{domains   , ["bookshelf.clownschool.com"]},
%%    {ip        , {192,168,1,129}},
%%    {port      , 8080},
%%    {dir       , "/srv"},
%%    {keys      , {"acc355-k3y-1d",
%%                  "s3Kr8t-acc3ss-kei"}
%%    }]
%%  }].
