
{couchdb_server, "localhost"}.
{couchdb_port, 5984}.
{couchdb_max_conn, 50}.
{chef_rest_ip, "127.0.0.1"}.
{chef_rest_port, 4001}.
{estatsd_server, "127.0.0.1"}.
{estatsd_port, 5665}.
%% a conservative value is to match the db_pool_size value.
{udp_socket_pool_size, 5}.
{bulk_fetch_batch_size, 5}.
{solr_url, "http://localhost:8983/solr"}.

%% AMQP Connection info
{rabbitmq_host, "127.0.0.1"}.
{rabbitmq_port, 5672}.
{rabbitmq_user, "chef"}.
{rabbitmq_password, "testing"}.
{rabbitmq_vhost, "/chef"}.
%% Default exchange
{rabbitmq_exchange, ""}.


%% db_type, db_port, db_user, db_pass, and db_name are all set in
%% db_vars.config as an overlay
{db_host, "localhost"}.
{db_pool_size, 5}.


{authz_root_url, "http://localhost:5959"}.

{keyring_default, "/etc/opscode/webui_pub.pem"}.
{keyring_dir, "/etc/opscode"}.

{sql_users, true}.

{darklaunch_config, "/etc/opscode/dark_launch_features.json"}.
{darklaunch_reload_time, 10000}.

{max_cache_size, 10000}.
%% 1 hour (in seconds)
{cache_ttl, 3600}.
