<div class="large-4 medium-6 columns">
  <%= render "profile" %>
</div>
<div class="large-4 medium-6 columns">
  <%= render "change_password" %>
</div>
<div class="large-4 columns">
  <div class="medium-12 columns">
    <%= render "generate_key" %>
  </div>
</div>
