<div class="large-4 medium-6 columns">
  <div>
    <%= render "profile" %>
  </div>
</div>
<div class="large-4 medium-6 columns">
  <div>
    <%= render "change_password" %>
  </div>
</div>
<div class="large-4 columns">
  <div>
    <div class="medium-12 columns">
      <%= render "generate_key" %>
    </div>
  </div>
</div>
