# Order is important. The last matching pattern has the most precedence.

*            @chef/chef-infra-server-reviewers @chef/chef-infra-server-approvers @chef/chef-infra-server-owners
.expeditor/  @chef/releng-ops
*.md         @chef/docs-team