%% -*- mode: erlang;erlang-indent-level: 4;indent-tabs-mode: nil -*-
%% ex: ts=4 sw=4 ft=erlang et

%% Because we want to define macros that will be picked up by source
%% code in this project, we have to avoid defining any erl_opts in
%% this rebar.config file.
%%
%% {erl_opts, [debug_info]}.

{deps, [{chef_objects, ".*",
         {git, "git://github.com/opscode/chef_objects.git", {branch, "master"}}},

        {couchbeam, ".*",
         {git, "git://github.com/opscode/couchbeam.git", {branch, "old_api"}}},

        {meck, ".*",
         {git, "git://github.com/eproxus/meck.git", "HEAD"}},

        {sqerl, ".*",
            {git, "git://github.com/opscode/sqerl.git", {branch, "master"}}},

        {stats_hero, ".*",
            {git, "git://github.com/opscode/stats_hero.git", {branch, "master"}}},

        {ej, ".*",
         {git, "git://github.com/seth/ej.git", {branch, "master"}}},

        {depsolver, ".*",
         {git, "git://github.com/opscode/depsolver.git", {branch, "master"}}},
        
        {envy, ".*",
         {git, "git://github.com/manderson26/envy.git", {branch, "master"}}}
       ]}.

{cover_enabled, true}.

{ct_dir, "itest"}.
{ct_log_dir, "itest/ct_logs"}.
