<div class="column">
  <div>
    <h1>Applications</h1>
  </div>

  <% if @applications.any? %>
    <table>
      <thead>
        <tr>
          <th>Application</th>
          <th>Created At</th>
          <th></th>
        </tr>
      </thead>
      <tbody>
      <% @applications.each do |application| %>
        <tr>
          <td><%= application.name %></td>
          <td><%= application.created_at.to_s(:db) %></td>
          <td><%= delete_button('Revoke', oauth_authorized_application_path(application)) %></td>
        </tr>
      <% end %>
      </tbody>
    </table>
  <% else %>
    <p><%= t(".no_applications_message") %></p>
  <% end %>
</div>
