*.clj
*.dump
*.jar
*.pdf
*.png
*.tex
/*.config
/*.xml
/.bundle
/.chef
/.erlang
/.eunit
/.lein*
/.ssh
/.vagrant
/Gemfile*
/Vagrantfile
/bin
/build
/classes
/cookbooks
/deps
/ebin
/include/python*
/include/site
/lib
/man
/node.sh
/privatechef.rb
/rel/bookshelf
/s3-tests
/setup.sh
/target
/vendor/bundle
