%% -*- mode: erlang -*-
%% -*- tab-width: 4;erlang-indent-level: 4;indent-tabs-mode: nil -*-
%% ex: ts=4 sw=4 ft=erlang et

{deps,
 [
  {chef_authn, ".*",
   {git, "git@github.com:opscode/chef_authn.git", {branch, "master"}}},

  {chef_authz, ".*",
   {git, "git@github.com:opscode/chef_authz.git", {branch, "master"}}},

  {chef_db, ".*",
   {git, "git@github.com:opscode/chef_db.git", {branch, "master"}}},

  {chef_index, ".*",
   {git, "git@github.com:opscode/chef_index.git", {branch, "master"}}},

  {chef_objects, ".*",
   {git, "git@github.com:opscode/chef_objects.git", {branch, "master"}}},

  {webmachine, ".*",
   {git, "git://github.com/basho/webmachine", {tag, "1.9.0-mochifix"}}},

  {fast_log, ".*",
   {git, "git@github.com:opscode/fast-log-erlang.git", {branch, "master"}}},

  {mixer, ".*",
   {git, "git@github.com:opscode/mixer.git", {branch, "master"}}},

  {darklaunch, ".*",
   {git, "git@github.com:opscode/opscode-darklaunch-erlang.git", {branch, "master"}}},

  {stats_hero, ".*",
   {git, "git@github.com:opscode/stats_hero.git", {branch, "master"}}},

  {folsom, ".*",
   {git, "git@github.com:boundary/folsom.git", {branch, "master"}}},

  {erlware_commons, ".*",
   {git, "git@github.com:erlware/erlware_commons.git", {branch, "master"}}}

 ]}.

{erl_opts, [debug_info, {d, 'BASE_RESOURCE', oc_chef_wm_base},
            {d, 'BASE_ROUTES', oc_chef_wm_routes}]}.

{cover_enabled, true}.
