%% -*- mode: erlang; -*-

{require_otp_vsn, "R15B"}.

{deps,
 [{cowboy, ".*",
   {git, "https://github.com/opscode/cowboy.git",
    {branch, "master"}}},
  {erlsom, ".*",
   {git, "https://github.com/opscode/erlsom.git",
    {branch, "master"}}},
  {iso8601, ".*",
   {git, "https://github.com/opscode/erlang_iso8601.git",
    {branch, "master"}}}
 ]}.

{erl_opts,
 [debug_info,
  warnings_as_errors]}.

{xref_checks,
 [exports_not_used,
  undefined_function_calls]}.

{eunit_opts, [verbose]}.
{cover_enabled, true}.
