%% -*- mode: erlang -*-
%% -*- tab-width: 4;erlang-indent-level: 4;indent-tabs-mode: nil -*-
%% ex: ts=4 sw=4 ft=erlang et
{sub_dirs, ["rel"]}.

{deps, [{oc_chef_wm, ".*",
         {git, "git@github.com:opscode/oc_chef_wm.git",  {branch, "master"}}},
        {eper, ".*",
         {git, "git://github.com/massemanet/eper.git", {branch, "master"}}}
       ]}.

{cover_enabled, true}.
