%% -*- mode: erlang -*-
%% -*- tab-width: 4;erlang-indent-level: 4;indent-tabs-mode: nil -*-
%% ex: ts=4 sw=4 ft=erlang et
{release,{oc_erchef,"1.6.4"},[oc_erchef, syntax_tools, compiler]}.
{extended_start_script,true}.
{overlay_vars,"rel/reltool.config"}.
{overlay,[{mkdir,"log/sasl"},
          {mkdir,"lib/patches"},
          {mkdir,"etc/keys"},
          {copy,"schema","."},
          {copy,"rel/files/reindex-opc-organization",
                "bin/reindex-opc-organization"},
          {template,"rel/files/vm.args","vm.args"},
          {template,"rel/files/app.config","sys.config"}]}.
