/* line 431, ../../../../../../opt/omnibus-toolchain/embedded/lib/ruby/gems/2.6.0/bundler/gems/foundation-rails-649f360696d8/vendor/assets/stylesheets/foundation/components/_global.scss */
meta.foundation-version {
  font-family: "/5.5.3/";
}

/* line 435, ../../../../../../opt/omnibus-toolchain/embedded/lib/ruby/gems/2.6.0/bundler/gems/foundation-rails-649f360696d8/vendor/assets/stylesheets/foundation/components/_global.scss */
meta.foundation-mq-small {
  font-family: "/only screen/";
  width: 0;
}

/* line 440, ../../../../../../opt/omnibus-toolchain/embedded/lib/ruby/gems/2.6.0/bundler/gems/foundation-rails-649f360696d8/vendor/assets/stylesheets/foundation/components/_global.scss */
meta.foundation-mq-small-only {
  font-family: "/only screen and (max-width: 40em)/";
  width: 0;
}

/* line 445, ../../../../../../opt/omnibus-toolchain/embedded/lib/ruby/gems/2.6.0/bundler/gems/foundation-rails-649f360696d8/vendor/assets/stylesheets/foundation/components/_global.scss */
meta.foundation-mq-medium {
  font-family: "/only screen and (min-width:40.0625em)/";
  width: 40.0625em;
}

/* line 450, ../../../../../../opt/omnibus-toolchain/embedded/lib/ruby/gems/2.6.0/bundler/gems/foundation-rails-649f360696d8/vendor/assets/stylesheets/foundation/components/_global.scss */
meta.foundation-mq-medium-only {
  font-family: "/only screen and (min-width:40.0625em) and (max-width:64em)/";
  width: 40.0625em;
}

/* line 455, ../../../../../../opt/omnibus-toolchain/embedded/lib/ruby/gems/2.6.0/bundler/gems/foundation-rails-649f360696d8/vendor/assets/stylesheets/foundation/components/_global.scss */
meta.foundation-mq-large {
  font-family: "/only screen and (min-width:64.0625em)/";
  width: 64.0625em;
}

/* line 460, ../../../../../../opt/omnibus-toolchain/embedded/lib/ruby/gems/2.6.0/bundler/gems/foundation-rails-649f360696d8/vendor/assets/stylesheets/foundation/components/_global.scss */
meta.foundation-mq-large-only {
  font-family: "/only screen and (min-width:64.0625em) and (max-width:90em)/";
  width: 64.0625em;
}

/* line 465, ../../../../../../opt/omnibus-toolchain/embedded/lib/ruby/gems/2.6.0/bundler/gems/foundation-rails-649f360696d8/vendor/assets/stylesheets/foundation/components/_global.scss */
meta.foundation-mq-xlarge {
  font-family: "/only screen and (min-width:90.0625em)/";
  width: 90.0625em;
}

/* line 470, ../../../../../../opt/omnibus-toolchain/embedded/lib/ruby/gems/2.6.0/bundler/gems/foundation-rails-649f360696d8/vendor/assets/stylesheets/foundation/components/_global.scss */
meta.foundation-mq-xlarge-only {
  font-family: "/only screen and (min-width:90.0625em) and (max-width:120em)/";
  width: 90.0625em;
}

/* line 475, ../../../../../../opt/omnibus-toolchain/embedded/lib/ruby/gems/2.6.0/bundler/gems/foundation-rails-649f360696d8/vendor/assets/stylesheets/foundation/components/_global.scss */
meta.foundation-mq-xxlarge {
  font-family: "/only screen and (min-width:120.0625em)/";
  width: 120.0625em;
}

/* line 480, ../../../../../../opt/omnibus-toolchain/embedded/lib/ruby/gems/2.6.0/bundler/gems/foundation-rails-649f360696d8/vendor/assets/stylesheets/foundation/components/_global.scss */
meta.foundation-data-attribute-namespace {
  font-family: false;
}

/* line 489, ../../../../../../opt/omnibus-toolchain/embedded/lib/ruby/gems/2.6.0/bundler/gems/foundation-rails-649f360696d8/vendor/assets/stylesheets/foundation/components/_global.scss */
html, body {
  height: 100%;
}

/* line 492, ../../../../../../opt/omnibus-toolchain/embedded/lib/ruby/gems/2.6.0/bundler/gems/foundation-rails-649f360696d8/vendor/assets/stylesheets/foundation/components/_global.scss */
*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

/* line 498, ../../../../../../opt/omnibus-toolchain/embedded/lib/ruby/gems/2.6.0/bundler/gems/foundation-rails-649f360696d8/vendor/assets/stylesheets/foundation/components/_global.scss */
html,
body {
  font-size: 100%;
}

/* line 502, ../../../../../../opt/omnibus-toolchain/embedded/lib/ruby/gems/2.6.0/bundler/gems/foundation-rails-649f360696d8/vendor/assets/stylesheets/foundation/components/_global.scss */
body {
  background: #fff;
  color: #222;
  cursor: auto;
  font-family: "Helvetica Neue", Helvetica, Roboto, Arial, sans-serif;
  font-style: normal;
  font-weight: normal;
  line-height: 1.5;
  margin: 0;
  padding: 0;
  position: relative;
}

/* line 515, ../../../../../../opt/omnibus-toolchain/embedded/lib/ruby/gems/2.6.0/bundler/gems/foundation-rails-649f360696d8/vendor/assets/stylesheets/foundation/components/_global.scss */
a:hover {
  cursor: pointer;
}

/* line 518, ../../../../../../opt/omnibus-toolchain/embedded/lib/ruby/gems/2.6.0/bundler/gems/foundation-rails-649f360696d8/vendor/assets/stylesheets/foundation/components/_global.scss */
img {
  max-width: 100%;
  height: auto;
}

/* line 520, ../../../../../../opt/omnibus-toolchain/embedded/lib/ruby/gems/2.6.0/bundler/gems/foundation-rails-649f360696d8/vendor/assets/stylesheets/foundation/components/_global.scss */
img {
  -ms-interpolation-mode: bicubic;
}

/* line 525, ../../../../../../opt/omnibus-toolchain/embedded/lib/ruby/gems/2.6.0/bundler/gems/foundation-rails-649f360696d8/vendor/assets/stylesheets/foundation/components/_global.scss */
#map_canvas img,
#map_canvas embed,
#map_canvas object,
.map_canvas img,
.map_canvas embed,
.map_canvas object,
.mqa-display img,
.mqa-display embed,
.mqa-display object {
  max-width: none !important;
}

/* line 532, ../../../../../../opt/omnibus-toolchain/embedded/lib/ruby/gems/2.6.0/bundler/gems/foundation-rails-649f360696d8/vendor/assets/stylesheets/foundation/components/_global.scss */
.left {
  float: left !important;
}

/* line 533, ../../../../../../opt/omnibus-toolchain/embedded/lib/ruby/gems/2.6.0/bundler/gems/foundation-rails-649f360696d8/vendor/assets/stylesheets/foundation/components/_global.scss */
.right {
  float: right !important;
}

/* line 239, ../../../../../../opt/omnibus-toolchain/embedded/lib/ruby/gems/2.6.0/bundler/gems/foundation-rails-649f360696d8/vendor/assets/stylesheets/foundation/components/_global.scss */
.clearfix:before, .clearfix:after {
  content: " ";
  display: table;
}

/* line 240, ../../../../../../opt/omnibus-toolchain/embedded/lib/ruby/gems/2.6.0/bundler/gems/foundation-rails-649f360696d8/vendor/assets/stylesheets/foundation/components/_global.scss */
.clearfix:after {
  clear: both;
}

/* line 537, ../../../../../../opt/omnibus-toolchain/embedded/lib/ruby/gems/2.6.0/bundler/gems/foundation-rails-649f360696d8/vendor/assets/stylesheets/foundation/components/_global.scss */
.hide {
  display: none;
}

/* line 542, ../../../../../../opt/omnibus-toolchain/embedded/lib/ruby/gems/2.6.0/bundler/gems/foundation-rails-649f360696d8/vendor/assets/stylesheets/foundation/components/_global.scss */
.invisible {
  visibility: hidden;
}

/* line 548, ../../../../../../opt/omnibus-toolchain/embedded/lib/ruby/gems/2.6.0/bundler/gems/foundation-rails-649f360696d8/vendor/assets/stylesheets/foundation/components/_global.scss */
.antialiased {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* line 551, ../../../../../../opt/omnibus-toolchain/embedded/lib/ruby/gems/2.6.0/bundler/gems/foundation-rails-649f360696d8/vendor/assets/stylesheets/foundation/components/_global.scss */
img {
  display: inline-block;
  vertical-align: middle;
}

/* line 561, ../../../../../../opt/omnibus-toolchain/embedded/lib/ruby/gems/2.6.0/bundler/gems/foundation-rails-649f360696d8/vendor/assets/stylesheets/foundation/components/_global.scss */
textarea {
  height: auto;
  min-height: 50px;
}

/* line 564, ../../../../../../opt/omnibus-toolchain/embedded/lib/ruby/gems/2.6.0/bundler/gems/foundation-rails-649f360696d8/vendor/assets/stylesheets/foundation/components/_global.scss */
select {
  width: 100%;
}

/*doc
---
title: Typography
name: typography
category: Typography
---

```html_example
<div>
  <h1>Heading 1</h1>
  <h2>Heading 2</h2>
  <h3>Heading 3</h3>
  <h4>Heading 4</h4>
  <h5>Heading 5</h5>
  <h6>Heading 6</h6>
  <p>Some paragraph text.</p>
</div>
``` 
*/
/* line 158, ../../../../../../opt/omnibus-toolchain/embedded/lib/ruby/gems/2.6.0/bundler/gems/foundation-rails-649f360696d8/vendor/assets/stylesheets/foundation/components/_type.scss */
.text-left {
  text-align: left !important;
}

/* line 159, ../../../../../../opt/omnibus-toolchain/embedded/lib/ruby/gems/2.6.0/bundler/gems/foundation-rails-649f360696d8/vendor/assets/stylesheets/foundation/components/_type.scss */
.text-right {
  text-align: right !important;
}

/* line 160, ../../../../../../opt/omnibus-toolchain/embedded/lib/ruby/gems/2.6.0/bundler/gems/foundation-rails-649f360696d8/vendor/assets/stylesheets/foundation/components/_type.scss */
.text-center {
  text-align: center !important;
}

/* line 161, ../../../../../../opt/omnibus-toolchain/embedded/lib/ruby/gems/2.6.0/bundler/gems/foundation-rails-649f360696d8/vendor/assets/stylesheets/foundation/components/_type.scss */
.text-justify {
  text-align: justify !important;
}

@media only screen and (max-width: 40em) {
  /* line 165, ../../../../../../opt/omnibus-toolchain/embedded/lib/ruby/gems/2.6.0/bundler/gems/foundation-rails-649f360696d8/vendor/assets/stylesheets/foundation/components/_type.scss */
  .small-only-text-left {
    text-align: left !important;
  }
  /* line 166, ../../../../../../opt/omnibus-toolchain/embedded/lib/ruby/gems/2.6.0/bundler/gems/foundation-rails-649f360696d8/vendor/assets/stylesheets/foundation/components/_type.scss */
  .small-only-text-right {
    text-align: right !important;
  }
  /* line 167, ../../../../../../opt/omnibus-toolchain/embedded/lib/ruby/gems/2.6.0/bundler/gems/foundation-rails-649f360696d8/vendor/assets/stylesheets/foundation/components/_type.scss */
  .small-only-text-center {
    text-align: center !important;
  }
  /* line 168, ../../../../../../opt/omnibus-toolchain/embedded/lib/ruby/gems/2.6.0/bundler/gems/foundation-rails-649f360696d8/vendor/assets/stylesheets/foundation/components/_type.scss */
  .small-only-text-justify {
    text-align: justify !important;
  }
}

@media only screen {
  /* line 165, ../../../../../../opt/omnibus-toolchain/embedded/lib/ruby/gems/2.6.0/bundler/gems/foundation-rails-649f360696d8/vendor/assets/stylesheets/foundation/components/_type.scss */
  .small-text-left {
    text-align: left !important;
  }
  /* line 166, ../../../../../../opt/omnibus-toolchain/embedded/lib/ruby/gems/2.6.0/bundler/gems/foundation-rails-649f360696d8/vendor/assets/stylesheets/foundation/components/_type.scss */
  .small-text-right {
    text-align: right !important;
  }
  /* line 167, ../../../../../../opt/omnibus-toolchain/embedded/lib/ruby/gems/2.6.0/bundler/gems/foundation-rails-649f360696d8/vendor/assets/stylesheets/foundation/components/_type.scss */
  .small-text-center {
    text-align: center !important;
  }
  /* line 168, ../../../../../../opt/omnibus-toolchain/embedded/lib/ruby/gems/2.6.0/bundler/gems/foundation-rails-649f360696d8/vendor/assets/stylesheets/foundation/components/_type.scss */
  .small-text-justify {
    text-align: justify !important;
  }
}

@media only screen and (min-width:40.0625em) and (max-width:64em) {
  /* line 165, ../../../../../../opt/omnibus-toolchain/embedded/lib/ruby/gems/2.6.0/bundler/gems/foundation-rails-649f360696d8/vendor/assets/stylesheets/foundation/components/_type.scss */
  .medium-only-text-left {
    text-align: left !important;
  }
  /* line 166, ../../../../../../opt/omnibus-toolchain/embedded/lib/ruby/gems/2.6.0/bundler/gems/foundation-rails-649f360696d8/vendor/assets/stylesheets/foundation/components/_type.scss */
  .medium-only-text-right {
    text-align: right !important;
  }
  /* line 167, ../../../../../../opt/omnibus-toolchain/embedded/lib/ruby/gems/2.6.0/bundler/gems/foundation-rails-649f360696d8/vendor/assets/stylesheets/foundation/components/_type.scss */
  .medium-only-text-center {
    text-align: center !important;
  }
  /* line 168, ../../../../../../opt/omnibus-toolchain/embedded/lib/ruby/gems/2.6.0/bundler/gems/foundation-rails-649f360696d8/vendor/assets/stylesheets/foundation/components/_type.scss */
  .medium-only-text-justify {
    text-align: justify !important;
  }
}

@media only screen and (min-width:40.0625em) {
  /* line 165, ../../../../../../opt/omnibus-toolchain/embedded/lib/ruby/gems/2.6.0/bundler/gems/foundation-rails-649f360696d8/vendor/assets/stylesheets/foundation/components/_type.scss */
  .medium-text-left {
    text-align: left !important;
  }
  /* line 166, ../../../../../../opt/omnibus-toolchain/embedded/lib/ruby/gems/2.6.0/bundler/gems/foundation-rails-649f360696d8/vendor/assets/stylesheets/foundation/components/_type.scss */
  .medium-text-right {
    text-align: right !important;
  }
  /* line 167, ../../../../../../opt/omnibus-toolchain/embedded/lib/ruby/gems/2.6.0/bundler/gems/foundation-rails-649f360696d8/vendor/assets/stylesheets/foundation/components/_type.scss */
  .medium-text-center {
    text-align: center !important;
  }
  /* line 168, ../../../../../../opt/omnibus-toolchain/embedded/lib/ruby/gems/2.6.0/bundler/gems/foundation-rails-649f360696d8/vendor/assets/stylesheets/foundation/components/_type.scss */
  .medium-text-justify {
    text-align: justify !important;
  }
}

@media only screen and (min-width:64.0625em) and (max-width:90em) {
  /* line 165, ../../../../../../opt/omnibus-toolchain/embedded/lib/ruby/gems/2.6.0/bundler/gems/foundation-rails-649f360696d8/vendor/assets/stylesheets/foundation/components/_type.scss */
  .large-only-text-left {
    text-align: left !important;
  }
  /* line 166, ../../../../../../opt/omnibus-toolchain/embedded/lib/ruby/gems/2.6.0/bundler/gems/foundation-rails-649f360696d8/vendor/assets/stylesheets/foundation/components/_type.scss */
  .large-only-text-right {
    text-align: right !important;
  }
  /* line 167, ../../../../../../opt/omnibus-toolchain/embedded/lib/ruby/gems/2.6.0/bundler/gems/foundation-rails-649f360696d8/vendor/assets/stylesheets/foundation/components/_type.scss */
  .large-only-text-center {
    text-align: center !important;
  }
  /* line 168, ../../../../../../opt/omnibus-toolchain/embedded/lib/ruby/gems/2.6.0/bundler/gems/foundation-rails-649f360696d8/vendor/assets/stylesheets/foundation/components/_type.scss */
  .large-only-text-justify {
    text-align: justify !important;
  }
}

@media only screen and (min-width:64.0625em) {
  /* line 165, ../../../../../../opt/omnibus-toolchain/embedded/lib/ruby/gems/2.6.0/bundler/gems/foundation-rails-649f360696d8/vendor/assets/stylesheets/foundation/components/_type.scss */
  .large-text-left {
    text-align: left !important;
  }
  /* line 166, ../../../../../../opt/omnibus-toolchain/embedded/lib/ruby/gems/2.6.0/bundler/gems/foundation-rails-649f360696d8/vendor/assets/stylesheets/foundation/components/_type.scss */
  .large-text-right {
    text-align: right !important;
  }
  /* line 167, ../../../../../../opt/omnibus-toolchain/embedded/lib/ruby/gems/2.6.0/bundler/gems/foundation-rails-649f360696d8/vendor/assets/stylesheets/foundation/components/_type.scss */
  .large-text-center {
    text-align: center !important;
  }
  /* line 168, ../../../../../../opt/omnibus-toolchain/embedded/lib/ruby/gems/2.6.0/bundler/gems/foundation-rails-649f360696d8/vendor/assets/stylesheets/foundation/components/_type.scss */
  .large-text-justify {
    text-align: justify !important;
  }
}

@media only screen and (min-width:90.0625em) and (max-width:120em) {
  /* line 165, ../../../../../../opt/omnibus-toolchain/embedded/lib/ruby/gems/2.6.0/bundler/gems/foundation-rails-649f360696d8/vendor/assets/stylesheets/foundation/components/_type.scss */
  .xlarge-only-text-left {
    text-align: left !important;
  }
  /* line 166, ../../../../../../opt/omnibus-toolchain/embedded/lib/ruby/gems/2.6.0/bundler/gems/foundation-rails-649f360696d8/vendor/assets/stylesheets/foundation/components/_type.scss */
  .xlarge-only-text-right {
    text-align: right !important;
  }
  /* line 167, ../../../../../../opt/omnibus-toolchain/embedded/lib/ruby/gems/2.6.0/bundler/gems/foundation-rails-649f360696d8/vendor/assets/stylesheets/foundation/components/_type.scss */
  .xlarge-only-text-center {
    text-align: center !important;
  }
  /* line 168, ../../../../../../opt/omnibus-toolchain/embedded/lib/ruby/gems/2.6.0/bundler/gems/foundation-rails-649f360696d8/vendor/assets/stylesheets/foundation/components/_type.scss */
  .xlarge-only-text-justify {
    text-align: justify !important;
  }
}

@media only screen and (min-width:90.0625em) {
  /* line 165, ../../../../../../opt/omnibus-toolchain/embedded/lib/ruby/gems/2.6.0/bundler/gems/foundation-rails-649f360696d8/vendor/assets/stylesheets/foundation/components/_type.scss */
  .xlarge-text-left {
    text-align: left !important;
  }
  /* line 166, ../../../../../../opt/omnibus-toolchain/embedded/lib/ruby/gems/2.6.0/bundler/gems/foundation-rails-649f360696d8/vendor/assets/stylesheets/foundation/components/_type.scss */
  .xlarge-text-right {
    text-align: right !important;
  }
  /* line 167, ../../../../../../opt/omnibus-toolchain/embedded/lib/ruby/gems/2.6.0/bundler/gems/foundation-rails-649f360696d8/vendor/assets/stylesheets/foundation/components/_type.scss */
  .xlarge-text-center {
    text-align: center !important;
  }
  /* line 168, ../../../../../../opt/omnibus-toolchain/embedded/lib/ruby/gems/2.6.0/bundler/gems/foundation-rails-649f360696d8/vendor/assets/stylesheets/foundation/components/_type.scss */
  .xlarge-text-justify {
    text-align: justify !important;
  }
}

@media only screen and (min-width:120.0625em) and (max-width:6249999.9375em) {
  /* line 165, ../../../../../../opt/omnibus-toolchain/embedded/lib/ruby/gems/2.6.0/bundler/gems/foundation-rails-649f360696d8/vendor/assets/stylesheets/foundation/components/_type.scss */
  .xxlarge-only-text-left {
    text-align: left !important;
  }
  /* line 166, ../../../../../../opt/omnibus-toolchain/embedded/lib/ruby/gems/2.6.0/bundler/gems/foundation-rails-649f360696d8/vendor/assets/stylesheets/foundation/components/_type.scss */
  .xxlarge-only-text-right {
    text-align: right !important;
  }
  /* line 167, ../../../../../../opt/omnibus-toolchain/embedded/lib/ruby/gems/2.6.0/bundler/gems/foundation-rails-649f360696d8/vendor/assets/stylesheets/foundation/components/_type.scss */
  .xxlarge-only-text-center {
    text-align: center !important;
  }
  /* line 168, ../../../../../../opt/omnibus-toolchain/embedded/lib/ruby/gems/2.6.0/bundler/gems/foundation-rails-649f360696d8/vendor/assets/stylesheets/foundation/components/_type.scss */
  .xxlarge-only-text-justify {
    text-align: justify !important;
  }
}

@media only screen and (min-width:120.0625em) {
  /* line 165, ../../../../../../opt/omnibus-toolchain/embedded/lib/ruby/gems/2.6.0/bundler/gems/foundation-rails-649f360696d8/vendor/assets/stylesheets/foundation/components/_type.scss */
  .xxlarge-text-left {
    text-align: left !important;
  }
  /* line 166, ../../../../../../opt/omnibus-toolchain/embedded/lib/ruby/gems/2.6.0/bundler/gems/foundation-rails-649f360696d8/vendor/assets/stylesheets/foundation/components/_type.scss */
  .xxlarge-text-right {
    text-align: right !important;
  }
  /* line 167, ../../../../../../opt/omnibus-toolchain/embedded/lib/ruby/gems/2.6.0/bundler/gems/foundation-rails-649f360696d8/vendor/assets/stylesheets/foundation/components/_type.scss */
  .xxlarge-text-center {
    text-align: center !important;
  }
  /* line 168, ../../../../../../opt/omnibus-toolchain/embedded/lib/ruby/gems/2.6.0/bundler/gems/foundation-rails-649f360696d8/vendor/assets/stylesheets/foundation/components/_type.scss */
  .xxlarge-text-justify {
    text-align: justify !important;
  }
}

/* Typography resets */
/* line 196, ../../../../../../opt/omnibus-toolchain/embedded/lib/ruby/gems/2.6.0/bundler/gems/foundation-rails-649f360696d8/vendor/assets/stylesheets/foundation/components/_type.scss */
div,
dl,
dt,
dd,
ul,
ol,
li,
h1,
h2,
h3,
h4,
h5,
h6,
pre,
form,
p,
blockquote,
th,
td {
  margin: 0;
  padding: 0;
}

/* Default Link Styles */
/* line 220, ../../../../../../opt/omnibus-toolchain/embedded/lib/ruby/gems/2.6.0/bundler/gems/foundation-rails-649f360696d8/vendor/assets/stylesheets/foundation/components/_type.scss */
a {
  color: #f18b21;
  line-height: inherit;
  text-decoration: none;
}

/* line 225, ../../../../../../opt/omnibus-toolchain/embedded/lib/ruby/gems/2.6.0/bundler/gems/foundation-rails-649f360696d8/vendor/assets/stylesheets/foundation/components/_type.scss */
a:hover, a:focus {
  color: #de780e;
}

/* line 233, ../../../../../../opt/omnibus-toolchain/embedded/lib/ruby/gems/2.6.0/bundler/gems/foundation-rails-649f360696d8/vendor/assets/stylesheets/foundation/components/_type.scss */
a img {
  border: none;
}

/* Default paragraph styles */
/* line 237, ../../../../../../opt/omnibus-toolchain/embedded/lib/ruby/gems/2.6.0/bundler/gems/foundation-rails-649f360696d8/vendor/assets/stylesheets/foundation/components/_type.scss */
p {
  font-family: inherit;
  font-size: 1rem;
  font-weight: normal;
  line-height: 1.6;
  margin-bottom: 1.25rem;
  text-rendering: optimizeLegibility;
}

/* line 245, ../../../../../../opt/omnibus-toolchain/embedded/lib/ruby/gems/2.6.0/bundler/gems/foundation-rails-649f360696d8/vendor/assets/stylesheets/foundation/components/_type.scss */
p.lead {
  font-size: 1.21875rem;
  line-height: 1.6;
}

/* line 247, ../../../../../../opt/omnibus-toolchain/embedded/lib/ruby/gems/2.6.0/bundler/gems/foundation-rails-649f360696d8/vendor/assets/stylesheets/foundation/components/_type.scss */
p aside {
  font-size: 0.875rem;
  font-style: italic;
  line-height: 1.35;
}

/* Default header styles */
/* line 255, ../../../../../../opt/omnibus-toolchain/embedded/lib/ruby/gems/2.6.0/bundler/gems/foundation-rails-649f360696d8/vendor/assets/stylesheets/foundation/components/_type.scss */
h1, h2, h3, h4, h5, h6 {
  color: #222222;
  font-family: "Helvetica Neue", Helvetica, Roboto, Arial, sans-serif;
  font-style: normal;
  font-weight: normal;
  line-height: 1.4;
  margin-bottom: 0.5rem;
  margin-top: 0.2rem;
  text-rendering: optimizeLegibility;
}

/* line 265, ../../../../../../opt/omnibus-toolchain/embedded/lib/ruby/gems/2.6.0/bundler/gems/foundation-rails-649f360696d8/vendor/assets/stylesheets/foundation/components/_type.scss */
h1 small, h2 small, h3 small, h4 small, h5 small, h6 small {
  color: #6f6f6f;
  font-size: 60%;
  line-height: 0;
}

/* line 272, ../../../../../../opt/omnibus-toolchain/embedded/lib/ruby/gems/2.6.0/bundler/gems/foundation-rails-649f360696d8/vendor/assets/stylesheets/foundation/components/_type.scss */
h1 {
  font-size: 1.625rem;
}

/* line 273, ../../../../../../opt/omnibus-toolchain/embedded/lib/ruby/gems/2.6.0/bundler/gems/foundation-rails-649f360696d8/vendor/assets/stylesheets/foundation/components/_type.scss */
h2 {
  font-size: 1.125rem;
}

/* line 274, ../../../../../../opt/omnibus-toolchain/embedded/lib/ruby/gems/2.6.0/bundler/gems/foundation-rails-649f360696d8/vendor/assets/stylesheets/foundation/components/_type.scss */
h3 {
  font-size: 1.1875rem;
}

/* line 275, ../../../../../../opt/omnibus-toolchain/embedded/lib/ruby/gems/2.6.0/bundler/gems/foundation-rails-649f360696d8/vendor/assets/stylesheets/foundation/components/_type.scss */
h4 {
  font-size: 0.8125rem;
}

/* line 276, ../../../../../../opt/omnibus-toolchain/embedded/lib/ruby/gems/2.6.0/bundler/gems/foundation-rails-649f360696d8/vendor/assets/stylesheets/foundation/components/_type.scss */
h5 {
  font-size: 1rem;
}

/* line 277, ../../../../../../opt/omnibus-toolchain/embedded/lib/ruby/gems/2.6.0/bundler/gems/foundation-rails-649f360696d8/vendor/assets/stylesheets/foundation/components/_type.scss */
h6 {
  font-size: 1rem;
}

/* line 279, ../../../../../../opt/omnibus-toolchain/embedded/lib/ruby/gems/2.6.0/bundler/gems/foundation-rails-649f360696d8/vendor/assets/stylesheets/foundation/components/_type.scss */
.subheader {
  line-height: 1.4;
  color: #6f6f6f;
  font-weight: normal;
  margin-top: 0.2rem;
  margin-bottom: 0.5rem;
}

/* line 281, ../../../../../../opt/omnibus-toolchain/embedded/lib/ruby/gems/2.6.0/bundler/gems/foundation-rails-649f360696d8/vendor/assets/stylesheets/foundation/components/_type.scss */
hr {
  border: solid #DDDDDD;
  border-width: 1px 0 0;
  clear: both;
  height: 0;
  margin: 1.25rem 0 1.1875rem;
}

/* Helpful Typography Defaults */
/* line 290, ../../../../../../opt/omnibus-toolchain/embedded/lib/ruby/gems/2.6.0/bundler/gems/foundation-rails-649f360696d8/vendor/assets/stylesheets/foundation/components/_type.scss */
em,
i {
  font-style: italic;
  line-height: inherit;
}

/* line 296, ../../../../../../opt/omnibus-toolchain/embedded/lib/ruby/gems/2.6.0/bundler/gems/foundation-rails-649f360696d8/vendor/assets/stylesheets/foundation/components/_type.scss */
strong,
b {
  font-weight: bold;
  line-height: inherit;
}

/* line 302, ../../../../../../opt/omnibus-toolchain/embedded/lib/ruby/gems/2.6.0/bundler/gems/foundation-rails-649f360696d8/vendor/assets/stylesheets/foundation/components/_type.scss */
small {
  font-size: 60%;
  line-height: inherit;
}

/* line 307, ../../../../../../opt/omnibus-toolchain/embedded/lib/ruby/gems/2.6.0/bundler/gems/foundation-rails-649f360696d8/vendor/assets/stylesheets/foundation/components/_type.scss */
code {
  background-color: #f8f8f8;
  border-color: #dfdfdf;
  border-style: solid;
  border-width: 1px;
  color: #333333;
  font-family: Consolas, "Liberation Mono", Courier, monospace;
  font-weight: normal;
  padding: 0.125rem 0.3125rem 0.0625rem;
}

/* Lists */
/* line 319, ../../../../../../opt/omnibus-toolchain/embedded/lib/ruby/gems/2.6.0/bundler/gems/foundation-rails-649f360696d8/vendor/assets/stylesheets/foundation/components/_type.scss */
ul,
ol,
dl {
  font-family: inherit;
  font-size: 1rem;
  line-height: 1.6;
  list-style-position: outside;
  margin-bottom: 1.25rem;
}

/* line 329, ../../../../../../opt/omnibus-toolchain/embedded/lib/ruby/gems/2.6.0/bundler/gems/foundation-rails-649f360696d8/vendor/assets/stylesheets/foundation/components/_type.scss */
ul {
  margin-left: 1.1rem;
}

/* Unordered Lists */
/* line 336, ../../../../../../opt/omnibus-toolchain/embedded/lib/ruby/gems/2.6.0/bundler/gems/foundation-rails-649f360696d8/vendor/assets/stylesheets/foundation/components/_type.scss */
ul li ul,
ul li ol {
  margin-left: 1.25rem;
  margin-bottom: 0;
}

/* line 345, ../../../../../../opt/omnibus-toolchain/embedded/lib/ruby/gems/2.6.0/bundler/gems/foundation-rails-649f360696d8/vendor/assets/stylesheets/foundation/components/_type.scss */
ul.square li ul, ul.circle li ul, ul.disc li ul {
  list-style: inherit;
}

/* line 348, ../../../../../../opt/omnibus-toolchain/embedded/lib/ruby/gems/2.6.0/bundler/gems/foundation-rails-649f360696d8/vendor/assets/stylesheets/foundation/components/_type.scss */
ul.square {
  list-style-type: square;
  margin-left: 1.1rem;
}

/* line 349, ../../../../../../opt/omnibus-toolchain/embedded/lib/ruby/gems/2.6.0/bundler/gems/foundation-rails-649f360696d8/vendor/assets/stylesheets/foundation/components/_type.scss */
ul.circle {
  list-style-type: circle;
  margin-left: 1.1rem;
}

/* line 350, ../../../../../../opt/omnibus-toolchain/embedded/lib/ruby/gems/2.6.0/bundler/gems/foundation-rails-649f360696d8/vendor/assets/stylesheets/foundation/components/_type.scss */
ul.disc {
  list-style-type: disc;
  margin-left: 1.1rem;
}

/* Ordered Lists */
/* line 354, ../../../../../../opt/omnibus-toolchain/embedded/lib/ruby/gems/2.6.0/bundler/gems/foundation-rails-649f360696d8/vendor/assets/stylesheets/foundation/components/_type.scss */
ol {
  margin-left: 1.4rem;
}

/* line 357, ../../../../../../opt/omnibus-toolchain/embedded/lib/ruby/gems/2.6.0/bundler/gems/foundation-rails-649f360696d8/vendor/assets/stylesheets/foundation/components/_type.scss */
ol li ul,
ol li ol {
  margin-left: 1.25rem;
  margin-bottom: 0;
}

/* line 366, ../../../../../../opt/omnibus-toolchain/embedded/lib/ruby/gems/2.6.0/bundler/gems/foundation-rails-649f360696d8/vendor/assets/stylesheets/foundation/components/_type.scss */
.no-bullet {
  list-style-type: none;
  margin-left: 0;
}

/* line 371, ../../../../../../opt/omnibus-toolchain/embedded/lib/ruby/gems/2.6.0/bundler/gems/foundation-rails-649f360696d8/vendor/assets/stylesheets/foundation/components/_type.scss */
.no-bullet li ul,
.no-bullet li ol {
  margin-left: 1.25rem;
  margin-bottom: 0;
  list-style: none;
}

/* Definition Lists */
/* line 382, ../../../../../../opt/omnibus-toolchain/embedded/lib/ruby/gems/2.6.0/bundler/gems/foundation-rails-649f360696d8/vendor/assets/stylesheets/foundation/components/_type.scss */
dl dt {
  margin-bottom: 0.3rem;
  font-weight: bold;
}

/* line 386, ../../../../../../opt/omnibus-toolchain/embedded/lib/ruby/gems/2.6.0/bundler/gems/foundation-rails-649f360696d8/vendor/assets/stylesheets/foundation/components/_type.scss */
dl dd {
  margin-bottom: 0.75rem;
}

/* Abbreviations */
/* line 390, ../../../../../../opt/omnibus-toolchain/embedded/lib/ruby/gems/2.6.0/bundler/gems/foundation-rails-649f360696d8/vendor/assets/stylesheets/foundation/components/_type.scss */
abbr,
acronym {
  text-transform: uppercase;
  font-size: 90%;
  color: #222;
  cursor: help;
}

/* line 397, ../../../../../../opt/omnibus-toolchain/embedded/lib/ruby/gems/2.6.0/bundler/gems/foundation-rails-649f360696d8/vendor/assets/stylesheets/foundation/components/_type.scss */
abbr {
  text-transform: none;
}

/* line 399, ../../../../../../opt/omnibus-toolchain/embedded/lib/ruby/gems/2.6.0/bundler/gems/foundation-rails-649f360696d8/vendor/assets/stylesheets/foundation/components/_type.scss */
abbr[title] {
  border-bottom: 1px dotted #DDDDDD;
}

/* Blockquotes */
/* line 405, ../../../../../../opt/omnibus-toolchain/embedded/lib/ruby/gems/2.6.0/bundler/gems/foundation-rails-649f360696d8/vendor/assets/stylesheets/foundation/components/_type.scss */
blockquote {
  margin: 0 0 1.25rem;
  padding: 0.5625rem 1.25rem 0 1.1875rem;
  border-left: 1px solid #DDDDDD;
}

/* line 410, ../../../../../../opt/omnibus-toolchain/embedded/lib/ruby/gems/2.6.0/bundler/gems/foundation-rails-649f360696d8/vendor/assets/stylesheets/foundation/components/_type.scss */
blockquote cite {
  display: block;
  font-size: 0.8125rem;
  color: #555555;
}

/* line 414, ../../../../../../opt/omnibus-toolchain/embedded/lib/ruby/gems/2.6.0/bundler/gems/foundation-rails-649f360696d8/vendor/assets/stylesheets/foundation/components/_type.scss */
blockquote cite:before {
  content: "\2014 \0020";
}

/* line 418, ../../../../../../opt/omnibus-toolchain/embedded/lib/ruby/gems/2.6.0/bundler/gems/foundation-rails-649f360696d8/vendor/assets/stylesheets/foundation/components/_type.scss */
blockquote cite a,
blockquote cite a:visited {
  color: #555555;
}

/* line 424, ../../../../../../opt/omnibus-toolchain/embedded/lib/ruby/gems/2.6.0/bundler/gems/foundation-rails-649f360696d8/vendor/assets/stylesheets/foundation/components/_type.scss */
blockquote,
blockquote p {
  line-height: 1.6;
  color: #6f6f6f;
}

/* Microformats */
/* line 431, ../../../../../../opt/omnibus-toolchain/embedded/lib/ruby/gems/2.6.0/bundler/gems/foundation-rails-649f360696d8/vendor/assets/stylesheets/foundation/components/_type.scss */
.vcard {
  display: inline-block;
  margin: 0 0 1.25rem 0;
  border: 1px solid #DDDDDD;
  padding: 0.625rem 0.75rem;
}

/* line 437, ../../../../../../opt/omnibus-toolchain/embedded/lib/ruby/gems/2.6.0/bundler/gems/foundation-rails-649f360696d8/vendor/assets/stylesheets/foundation/components/_type.scss */
.vcard li {
  margin: 0;
  display: block;
}

/* line 441, ../../../../../../opt/omnibus-toolchain/embedded/lib/ruby/gems/2.6.0/bundler/gems/foundation-rails-649f360696d8/vendor/assets/stylesheets/foundation/components/_type.scss */
.vcard .fn {
  font-weight: bold;
  font-size: 0.9375rem;
}

/* line 448, ../../../../../../opt/omnibus-toolchain/embedded/lib/ruby/gems/2.6.0/bundler/gems/foundation-rails-649f360696d8/vendor/assets/stylesheets/foundation/components/_type.scss */
.vevent .summary {
  font-weight: bold;
}

/* line 450, ../../../../../../opt/omnibus-toolchain/embedded/lib/ruby/gems/2.6.0/bundler/gems/foundation-rails-649f360696d8/vendor/assets/stylesheets/foundation/components/_type.scss */
.vevent abbr {
  cursor: default;
  text-decoration: none;
  font-weight: bold;
  border: none;
  padding: 0 0.0625rem;
}

@media only screen and (min-width:40.0625em) {
  /* line 461, ../../../../../../opt/omnibus-toolchain/embedded/lib/ruby/gems/2.6.0/bundler/gems/foundation-rails-649f360696d8/vendor/assets/stylesheets/foundation/components/_type.scss */
  h1, h2, h3, h4, h5, h6 {
    line-height: 1.4;
  }
  /* line 462, ../../../../../../opt/omnibus-toolchain/embedded/lib/ruby/gems/2.6.0/bundler/gems/foundation-rails-649f360696d8/vendor/assets/stylesheets/foundation/components/_type.scss */
  h1 {
    font-size: 2.25rem;
  }
  /* line 463, ../../../../../../opt/omnibus-toolchain/embedded/lib/ruby/gems/2.6.0/bundler/gems/foundation-rails-649f360696d8/vendor/assets/stylesheets/foundation/components/_type.scss */
  h2 {
    font-size: 1.75rem;
  }
  /* line 464, ../../../../../../opt/omnibus-toolchain/embedded/lib/ruby/gems/2.6.0/bundler/gems/foundation-rails-649f360696d8/vendor/assets/stylesheets/foundation/components/_type.scss */
  h3 {
    font-size: 1.5rem;
  }
  /* line 465, ../../../../../../opt/omnibus-toolchain/embedded/lib/ruby/gems/2.6.0/bundler/gems/foundation-rails-649f360696d8/vendor/assets/stylesheets/foundation/components/_type.scss */
  h4 {
    font-size: 1.125rem;
  }
  /* line 466, ../../../../../../opt/omnibus-toolchain/embedded/lib/ruby/gems/2.6.0/bundler/gems/foundation-rails-649f360696d8/vendor/assets/stylesheets/foundation/components/_type.scss */
  h5 {
    font-size: 1rem;
  }
  /* line 467, ../../../../../../opt/omnibus-toolchain/embedded/lib/ruby/gems/2.6.0/bundler/gems/foundation-rails-649f360696d8/vendor/assets/stylesheets/foundation/components/_type.scss */
  h6 {
    font-size: 1rem;
  }
}

/*
       * Print styles.
       *
       * Inlined to avoid required HTTP connection: www.phpied.com/delay-loading-your-print-css/
       * Credit to Paul Irish and HTML5 Boilerplate (html5boilerplate.com)
      */
@media print {
  /* line 479, ../../../../../../opt/omnibus-toolchain/embedded/lib/ruby/gems/2.6.0/bundler/gems/foundation-rails-649f360696d8/vendor/assets/stylesheets/foundation/components/_type.scss */
  * {
    background: transparent !important;
    color: #000000 !important;
    /* Black prints faster: h5bp.com/s */
    box-shadow: none !important;
    text-shadow: none !important;
  }
  /* line 486, ../../../../../../opt/omnibus-toolchain/embedded/lib/ruby/gems/2.6.0/bundler/gems/foundation-rails-649f360696d8/vendor/assets/stylesheets/foundation/components/_type.scss */
  a,
a:visited {
    text-decoration: underline;
  }
  /* line 488, ../../../../../../opt/omnibus-toolchain/embedded/lib/ruby/gems/2.6.0/bundler/gems/foundation-rails-649f360696d8/vendor/assets/stylesheets/foundation/components/_type.scss */
  a[href]:after {
    content: " (" attr(href) ")";
  }
  /* line 490, ../../../../../../opt/omnibus-toolchain/embedded/lib/ruby/gems/2.6.0/bundler/gems/foundation-rails-649f360696d8/vendor/assets/stylesheets/foundation/components/_type.scss */
  abbr[title]:after {
    content: " (" attr(title) ")";
  }
  /* line 493, ../../../../../../opt/omnibus-toolchain/embedded/lib/ruby/gems/2.6.0/bundler/gems/foundation-rails-649f360696d8/vendor/assets/stylesheets/foundation/components/_type.scss */
  .ir a:after,
a[href^="javascript:"]:after,
a[href^="#"]:after {
    content: "";
  }
  /* line 497, ../../../../../../opt/omnibus-toolchain/embedded/lib/ruby/gems/2.6.0/bundler/gems/foundation-rails-649f360696d8/vendor/assets/stylesheets/foundation/components/_type.scss */
  pre,
blockquote {
    border: 1px solid #999999;
    page-break-inside: avoid;
  }
  /* line 503, ../../../../../../opt/omnibus-toolchain/embedded/lib/ruby/gems/2.6.0/bundler/gems/foundation-rails-649f360696d8/vendor/assets/stylesheets/foundation/components/_type.scss */
  thead {
    display: table-header-group;
    /* h5bp.com/t */
  }
  /* line 505, ../../../../../../opt/omnibus-toolchain/embedded/lib/ruby/gems/2.6.0/bundler/gems/foundation-rails-649f360696d8/vendor/assets/stylesheets/foundation/components/_type.scss */
  tr,
img {
    page-break-inside: avoid;
  }
  /* line 508, ../../../../../../opt/omnibus-toolchain/embedded/lib/ruby/gems/2.6.0/bundler/gems/foundation-rails-649f360696d8/vendor/assets/stylesheets/foundation/components/_type.scss */
  img {
    max-width: 100% !important;
  }
  @page {
    margin: 0.34in;
  }
  /* line 512, ../../../../../../opt/omnibus-toolchain/embedded/lib/ruby/gems/2.6.0/bundler/gems/foundation-rails-649f360696d8/vendor/assets/stylesheets/foundation/components/_type.scss */
  p,
h2,
h3 {
    orphans: 3;
    widows: 3;
  }
  /* line 519, ../../../../../../opt/omnibus-toolchain/embedded/lib/ruby/gems/2.6.0/bundler/gems/foundation-rails-649f360696d8/vendor/assets/stylesheets/foundation/components/_type.scss */
  h2,
h3 {
    page-break-after: avoid;
  }
}

/* line 7, app/assets/stylesheets/guide.scss */
.swatch {
  margin-bottom: 0;
  border: 0;
  min-width: 80px;
  min-height: 45px;
  padding: 12px;
}

/* line 13, app/assets/stylesheets/guide.scss */
.swatch.orange {
  background-color: #f18b21;
}

/* line 16, app/assets/stylesheets/guide.scss */
.swatch.dark-blue {
  background-color: #3f5364;
}

/* line 19, app/assets/stylesheets/guide.scss */
.swatch.light-blue {
  background-color: #6bb2e2;
}

/* line 22, app/assets/stylesheets/guide.scss */
.swatch.green {
  background-color: #5ab7b2;
}

/* line 25, app/assets/stylesheets/guide.scss */
.swatch.yellow {
  background-color: #fdb714;
}

/* line 28, app/assets/stylesheets/guide.scss */
.swatch.grey {
  background-color: #7d868c;
}

/* line 31, app/assets/stylesheets/guide.scss */
.swatch.dark-grey {
  background-color: #3e4346;
}

/* line 34, app/assets/stylesheets/guide.scss */
.swatch.white {
  background-color: #ffffff;
  border: 1px solid #e8e8e8;
}

/* line 40, app/assets/stylesheets/guide.scss */
.example h6 {
  font-size: 0.75rem;
  text-transform: uppercase;
  font-weight: bold;
  border-bottom: 1px solid #eee;
}

/* line 47, app/assets/stylesheets/guide.scss */
.example-rendered {
  margin-bottom: 1.25rem;
}

/* line 51, app/assets/stylesheets/guide.scss */
pre, code {
  font-family: Consolas, "Liberation Mono", Courier, monospace;
  font-size: 0.8125rem;
  padding: 12px;
  background: #f8f8f8;
  border-radius: 4px;
  overflow: auto;
  margin-bottom: 1.25rem;
}

/* line 63, app/assets/stylesheets/guide.scss */
p code, li code {
  padding: 4px;
}
