<div class="column">
  <div>
    <h1>Forgot Your Password?</h1>
  </div>
  <div>
    <p><%= t(".form_caption") %></p>
    <%= form_tag({ action: 'create' }) do -%>
      <div class="row">
        <div class="medium-6 columns username-field">
          <%= text_field_tag :username, nil, required: true, autocomplete: 'off', placeholder: 'Username or email', class: 'radius' %>
        </div>
      </div>
      <div class="row">
        <div class="medium-6 columns">
          <%= button_tag 'Submit', class: 'button' %>
        </div>
      </div>
    <% end -%>
  </div>
</div>
