%% -*- mode: erlang; -*-

{require_otp_vsn, "R1[45]B.*"}.

{deps,
 [{cowboy, ".*",
   {git, "https://github.com/opscode/cowboy.git",
    {branch, "t/accept-dynamic"}}},
  {erlsom, ".*",
   {git, "https://github.com/opscode/erlsom.git",
    {branch, "integer_long_string_probs"}}},
  {iso8601, ".*",
   {git, "https://github.com/opscode/erlang_iso8601.git",
    {branch, "master"}}},
  {opset, ".*",
   {git, "git@github.com:opscode/opset.git",
    {branch, "master"}}},
  %% Compile time dependencies, should not appear in the release
  {covertool, ".*",
   {git, "https://github.com/opscode/covertool.git",
    {branch, "master"}}},
  {erlware_commons, ".*",
   {git, "https://github.com/erlware/erlware_commons.git",
    {tag, "v0.6.2"}}},
  {erlcloud, ".*",
   {git, "git@github.com:opscode/erlcloud.git",
    {branch, "ebm-oc-232"}}}
 ]}.

{plugins, [rebar_covertool]}.

{erl_opts,
 [debug_info,
  warnings_as_errors]}.

{xref_checks,
 [exports_not_used,
  undefined_function_calls]}.

{eunit_opts,
 [verbose,
  {report,{eunit_surefire,[{dir,"."}]}}]}.
{cover_enabled, true}.
{covertool_eunit, "coverage.xml"}.
{covertool_prefix_len, 2}.

{sub_dirs, ["rel"]}.
