%% -*- mode: erlang; -*-

{require_otp_vsn, "R1[45]B.*"}.

{deps,
 [{covertool, ".*",
 [{opset, ".*",
   {git, "git@github.com:opscode/opset.git",
    {branch, "master"}}},
   {git, "https://github.com/opscode/covertool.git",
    {branch, "master"}}},
  {opset, ".*",
   {git, "git@github.com:opscode/opset.git",
    {tag, "v0.0.1"}}}
 ]}.

{plugins, [rebar_covertool]}.

{erl_opts,
 [debug_info,
  warnings_as_errors]}.

{xref_checks,
 [exports_not_used,
  undefined_function_calls]}.

{eunit_opts,
 [verbose,
  {report,{eunit_surefire,[{dir,"."}]}}]}.
{cover_enabled, true}.
{covertool_eunit, "coverage.xml"}.
{covertool_prefix_len, 2}.
