%% -*- mode: erlang -*-
%% -*- tab-width: 4;erlang-indent-level: 4;indent-tabs-mode: nil -*-
%% ex: ts=4 sw=4 ft=erlang et

{deps,
    [
    ]
}.

{profiles, [{
    test, [
        {deps, [meck]},
        {erl_opts, [export_all]}
    ]
}]}.

{erl_opts, [
    warnings_as_errors,
    debug_info
]}.

{cover_enabled, true}.
