ebin
deps/*
.eunit/*
doc/*
*/erl_crash.dump
rel/mover
rel/apps
OLD
/.chef
/.bundle
/.vagrant
/Berksfile.lock
/Gemfile.lock
/bin
/moser-couch-data
/moser-data
/sys.config
/log
\#*
.#*
*~
.rebar
.rebar3
.concrete
_rel
relx
deps.plt
erln8.config
Makefile.0
VERSION
_build
*.coverdata
