%% -*- mode: erlang;erlang-indent-level: 4;indent-tabs-mode: nil -*-
%% ex: ts=4 sw=4 ft=erlang et

%% Plugin usage
{cover_enabled, true}.

{deps, [
        {lager, ".*",
         {git, "https://github.com/basho/lager", {branch, "master"}}},
        {opscoderl_wm, ".*",
         {git, "https://github.com/opscode/opscoderl_wm", {branch, "master"}}},
        {chef_authn, ".*",
         {git, "https://github.com/chef/chef_authn", {branch, "master"}}},
        {moser, ".*",
         {git, "https://github.com/opscode/moser", {branch, "master"}}},
        {jiffy, ".*",
         {git, "https://github.com/davisp/jiffy", {tag, "0.14.1"}}},
        {chef_reindex, ".*",
         {git, "https://github.com/opscode/chef_reindex", {branch, "master"}}},
        {ibrowse, ".*",
         {git, "https://github.com/opscode/ibrowse", {tag, "v4.0.1.1"}}},
        {eper, ".*",
         {git, "https://github.com/massemanet/eper", {branch, "master"}}},
        {folsom, ".*",
         {git,"https://github.com/boundary/folsom", {tag, "0.7.4"}}},
        {eredis, ".*",
         {git, "https://github.com/wooga/eredis", {tag, "master"}}},
        {stats_hero, ".*",
         {git, "https://github.com/opscode/stats_hero", {branch, "master"}}},
        {bcrypt, ".*",
         {git, "https://github.com/opscode/erlang-bcrypt", {branch, "master"}}},
        {sqerl,".*",
         {git,"https://github.com/chef/sqerl", {branch, "master"}}},
        {epgsql,".*",
         {git,"https://github.com/chef/epgsql-1", {branch, "master"}}},

        %% Oldies
        {ej, ".*",
         {git,"git://github.com/seth/ej.git",
           "132a9a3c0662a2377eaf7ebee694a496a0957160"}}
        ]}.

{profiles, [
    {test, [
        {deps, [
            {hoax, ".*",
                {git, "https://github.com/xenolinguist/hoax", {tag, "0.9.7"}}},
            {cth_readable,
                {git, "https://github.com/ferd/cth_readable.git", {branch, "master"}}}
                ]}
    ]},
    {dev, [
        {relx, [{dev_mode, true},
                {include_src, true}
               ]}
    ]}
]}.

{ct_opts, [{ct_hooks, [cth_readable_shell]}]}.

{pre_hooks, [
             {clean, "make bundle_clean version_clean"},
             {compile, "make bundle VERSION"}
]}.

{plugins, [{pc, "0.3.0"}]}.

{overrides, [
    {override, jiffy, [
        {plugins, [pc]},
        {provider_hooks, [
            {post, [
                {compile, {pc, compile}},
                {clean, {pc, clean}}
            ]}
        ]}
    ]},
    {override, chef_reindex, [
        {plugins, [pc]},
        {provider_hooks, [
            {post, [
                {compile, {pc, compile}},
                {clean, {pc, clean}}
            ]}
        ]}
    ]}
]}.

{erl_first_files, [
    "src/mover_oc_erchef_parse_transform.erl"
]}.

{erl_opts, [
            debug_info,
            %warnings_as_errors, warnings are from oauth
            {parse_transform,lager_transform},
            {platform_define, "^[0-9]+", namespaced_types},
            {i, "include"},
            {i, "./_checkouts/oc_erchef/include"}
           ]}.

{relx, [
    {release,{mover,{cmd, "cat VERSION"}},[
            mover,
            moser,
            jiffy,
            eredis,
            {darklaunch, load},
            bear,
            folsom,
            chef_authn,
            erlware_commons,
            mini_s3,
            mnesia,
            oauth,
            opscoderl_folsom,
            opscoderl_wm,
            quickrand,
            ssh,
            uuid,
            debugger,
            runtime_tools,
            {decouch, load},
            {chef_db, load},
            {chef_objects, load},
            {depsolver, load},
            {oc_chef_authz, load},
            {oc_chef_wm, load},
            eper
            ]},

    {include_src, false},
    {lib_dirs,["_build/default/lib/oc_erchef/apps"]},
    {extended_start_script,true},
    {overlay_vars,"config/vars.config"},
    {overlay,[
            {mkdir,"log/sasl"},
            {mkdir,"etc/keys"},
            {copy,"scripts", "scripts"},
            {template,"config/vm.args","vm.args"},
            {template,"config/sys.config","sys.config"}
            ]}
]}.
