%% -*- mode: erlang -*-
%% -*- tab-width: 4;erlang-indent-level: 4;indent-tabs-mode: nil -*-
%% ex: ts=4 sw=4 ft=erlang et

%% Plugin usage
{cover_enabled, false}.

{deps, [
    %% lager has to come first since we use its parse transform
    {lager, ".*",
        {git, "git://github.com/erlang-lager/lager.git",              {branch, "master"}}},
    {bcrypt, ".*",
        {git, "git://github.com/abhay/erlang-bcrypt.git",             {branch, "master"}}},
    {chef_authn, ".*",
        {git, "git://github.com/chef/chef_authn.git",                 {branch, "master"}}},
    {chef_reindex, ".*",
        {git, "git://github.com/opscode/chef_reindex.git",            {branch, "master"}}},
    {chef_secrets, ".*",
        {git, "git://github.com/chef/chef_secrets.git",               {branch, "master"}}},
    {edown, ".*",
        {git, "git://github.com/uwiger/edown.git",                    {branch, "master"}}},
    {ej, ".*",
        {git, "git://github.com/chef/ej.git",                         {branch, "lbaker/fixes-for-erlang19"}}},
    {eper, ".*",
        {git, "git://github.com/massemanet/eper.git",                 {branch, "master"}}},
    {epgsql,".*",
        {git, "git://github.com/chef/epgsql-1.git",                   {branch, "master"}}},
    {eredis, ".*",
        {git, "git://github.com/wooga/eredis.git",                    {branch, "master"}}},
    {folsom, ".*",
        {git,"git://github.com/boundary/folsom.git",                  {tag, "0.8.2"}}},
    {ibrowse, ".*",
        {git, "git://github.com/chef/ibrowse.git",                    {branch, "ma/revert_ipv6"}}},
     %% latest version of jiffy i could find that doesn't
     %% break oc_erchef_unit and oc_bifrost on master verify
     %% pipeline.  could also try the two commits directly
     %% after this SHA
    {jiffy, ".*",
        {git, "https://github.com/davisp/jiffy.git",                  {ref, "051a74338c089c39f09532188bc82cf1adedbdc8"}}},
    {mini_s3, ".*",
        {git, "git://github.com/chef/mini_s3.git",                    {branch, "lbaker/presigned-headers"}}},
    {moser, ".*",
        {git, "git://github.com/opscode/moser.git",                   {branch, "master"}}},
    % pinning this for now because an update to master (recon dep) broke compilation
    {observer_cli, ".*",
        {git, "git://github.com/zhongwencool/observer_cli.git",       {ref, "bcc0dfaa2013a436ce7e597731acab6577321b43"}}},
    {opscoderl_wm, ".*",
        {git, "git://github.com/opscode/opscoderl_wm.git",            {branch, "master"}}},
    {pooler, ".*",
        {git, "git://github.com/seth/pooler.git",                     {branch, "master"}}},
    {sqerl,".*",
        {git, "git://github.com/chef/sqerl.git",                      {branch, "master"}}},
    {stats_hero, ".*",
        {git, "git://github.com/chef/stats_hero.git",                 {branch, "master"}}}

    %%% Updated for compilation failures on 18.3
    % {edown,".*",
    %  {git,"git://github.com/uwiger/edown", {branch, "master"}}},
    % {pooler, ".*",
    %  {git,"git://github.com/seth/pooler", {branch, "master"}}},
    % {mini_s3,".*",
    %  {git,"git://github.com/chef/mini_s3", {branch, "master"}}},
]}.

{profiles, [
    {test, [
        {deps, [
            {hoax, ".*",
                {git, "git://github.com/chef/hoax.git",         {branch, "lbaker/fixes-for-erlang20"}}},
            {cth_readable,
                {git, "git://github.com/ferd/cth_readable.git", {branch, "master"}}}
                ]}
    ]},
    {dev, [
        {relx, [{dev_mode, true},
                {include_src, true}
               ]}
    ]}
]}.

{ct_opts, [{ct_hooks, [cth_readable_shell]}]}.

{pre_hooks, [
             {clean,    "make version_clean"},
             {compile,  "make VERSION"}
]}.

{plugins, [{pc, "1.8.0"}]}. % Locked to avoid fallout related to: https://github.com/blt/port_compiler/issues/43

{overrides, [
    {override, jiffy, [
        {plugins, [pc]},
        {provider_hooks, [
            {post, [
                {compile,   {pc, compile}},
                {clean,     {pc, clean}}
            ]}
        ]}
    ]},
    {override, chef_reindex, [
        {plugins, [pc]},
        {provider_hooks, [
            {post, [
                {compile, {pc, compile}},
                {clean, {pc, clean}}
            ]}
        ]}
    ]},
    %% Note 2017-02-28 ssd: These overrides replicate the erl_opts
    %% used in the upstream rebar.conf with warnings_as_errors removed.
    {override, uuid, [
        {erl_opts, [{platform_define, "^R16", 'ERLANG_OTP_VERSION_16'},
                    {platform_define, "^17.", 'ERLANG_OTP_VERSION_17'},
                    {platform_define, "^18.", 'ERLANG_OTP_VERSION_18'},
                    {platform_define, "^19.", 'ERLANG_OTP_VERSION_19'},
                    {platform_define, "^20.", 'ERLANG_OTP_VERSION_20'},
                    strict_validation,
                    warn_bif_clash,
                    warn_export_all,
                    warn_export_vars,
                    warn_exported_vars,
                    warn_obsolete_guard,
                    warn_shadow_vars,
                    warn_unused_import,
                    warn_unused_function,
                    warn_unused_record,
                    warn_unused_vars]}]},
    {override, decouch, [
        {erl_opts, [debug_info,
                    {parse_transform, lager_transform}
                   ]}
    ]}
]}.

{erl_first_files, [
    "src/mover_oc_erchef_parse_transform.erl"
]}.

{erl_opts, [
            debug_info,
            %warnings_as_errors, warnings are from oauth
            {parse_transform,lager_transform},
            {platform_define, "^[0-9]+", namespaced_types},
            {i, "include"},
            {i, "./_checkouts/oc_erchef/include"}
           ]}.

{relx, [
    {release,{mover,{cmd, "cat VERSION"}},[
            mover,
            moser,
            jiffy,
            eredis,
            {darklaunch, load},
            bear,
            folsom,
            chef_authn,
            erlware_commons,
            mini_s3,
            mnesia,
            oauth,
            opscoderl_folsom,
            opscoderl_wm,
            quickrand,
            ssh,
            uuid,
            runtime_tools,
            {decouch, load},
            {chef_db, load},
            {chef_objects, load},
            {depsolver, load},
            {oc_chef_authz, load},
            {oc_chef_wm, load},
            eper,
            observer_cli
            ]},

    {include_erts, false},
    {include_src, false},
    {lib_dirs,["_build/default/lib/oc_erchef/apps"]},
    {extended_start_script,true},
    {overlay_vars,"config/vars.config"},
    {overlay,[
            {mkdir,"log/sasl"},
            {mkdir,"etc/keys"},
            {copy,"scripts", "scripts"},
            {template,"config/sys.config","sys.config"}
            ]}
]}.
