{release,{mover,"12.1.0"},[
        mover,
        eper
        ]}.
{extended_start_script,true}.
{overlay_vars,"rel/vars.config"}.
{overlay,[
        {mkdir,"log/sasl"},
        {mkdir,"etc/keys"},
        {copy,"scripts", "scripts"},
        {template,"rel/vm.args","vm.args"},
        {template,"rel/sys.config","sys.config"}
        ]}.
