%% -*- mode: erlang;erlang-indent-level: 4;indent-tabs-mode: nil -*-
%% ex: ts=4 sw=4 ft=erlang et

{deps, [
        {sqerl, ".*",
         {git, "git://github.com/opscode/sqerl.git", {branch, "master"}}},
        {stats_hero, ".*",
         {git, "git://github.com/opscode/stats_hero.git", {branch, "master"}}},
        {darklaunch, ".*",
         {git, "git@github.com:opscode/opscode-darklaunch-erlang.git", {branch, "master"}}},
        {jiffy, ".*",
         {git, "git://github.com/davisp/jiffy.git", {tag, "0.4.3"}}},
        {ej, ".*",
         {git, "git://github.com/seth/ej.git", {branch, "master"}}},
        {couchbeam, ".*",
         {git, "git://github.com/opscode/couchbeam.git", {branch, "old_api"}}},
        {automeck, ".*",
         {git, "git@github.com:opscode/automeck.git", {branch, "master"}}},
        {opscoderl_httpc, ".*",
         {git, "git@github.com:opscode/opscoderl_httpc.git", {branch, "master"}}},
        {envy, ".*",
         {git, "git@github.com:manderson26/envy.git", {branch, "master"}}},
        {chef_objects, ".*",
         {git, "git@github.com:opscode/chef_objects.git", {branch, "master"}}},
        {mixer, ".*",
         {git, "git://github.com/opscode/mixer.git", {branch, "master"}}},
        {chef_db, ".*",
         {git, "git@github.com:opscode/chef_db.git", {branch, "master"}}}

       ]}.

{cover_enabled, true}.
