%% -*- mode:erlang, erlang-indent-level: 4;indent-tabs-mode: nil -*-
%% Copyright 2013 Opscode, Inc. All Rights Reserved.
%%

{find_container_by_orgid_name,
 <<"SELECT id, authz_id, org_id, name, last_updated_by, created_at, updated_at"
   " FROM containers "
   " WHERE (org_id = $1 AND name = $2) LIMIT 1">>}.
