.vagrant
.bundle
bin
Berksfile.lock
Gemfile.lock
*~
*#
.#*
\#*#
.*.sw[a-z]
*.un~
/cookbooks
rel/oc_bifrost
bifrost.plt
deps
*.beam
.eunit
ebin
erl_crash.dump
.rebar
.concrete
relx
_rel
deps.plt
VERSION
_build
*failures