[ %% rules documentation: https://github.com/inaka/elvis_core/wiki/Rules
 {
   elvis,
   [
    {config,
     [
      #{dirs => ["apps/*/src"],
        filter => "*.erl",
        rules => [
          {elvis_text_style, macro_names},
          {elvis_text_style, nesting_level},
          {elvis_text_style, no_if_expression},
          {elvis_text_style, no_debug_call},
          {elvis_text_style, no_nested_try_catch},
          {elvis_text_style, no_tabs},
          {elvis_text_style, no_trailing_whitespace},
          {elvis_text_style, operator_spaces},
          {elvis_text_style, used_ignored_variable},
          {elvis_text_style, variable_naming_convention}
        ]
       }
     ]
    }
   ]
 }
].
