%% -*- mode: erlang -*-
%% -*- tab-width: 4;erlang-indent-level: 4;indent-tabs-mode: nil -*-
%% ex: ts=4 sw=4 ft=erlang et

{erl_opts, [
            warnings_as_errors,
            {parse_transform, lager_transform},
            debug_info
           ]}.
{erl_first_files, ["src/bifrost_wm.erl"]}.

{require_otp_vsn, "24.3.2"}.

{deps, [
    %% lager has to come first since we use its parse transform
    {lager, ".*",
        {git, "https://github.com/erlang-lager/lager",                  {branch, "master"}}},
    {chef_secrets, ".*",
        {git, "https://github.com/chef/chef_secrets",                   {branch, "lbaker/upgrade-erlang-24.2"}}},
    {edown, ".*",
        {git, "https://github.com/uwiger/edown",                        {branch, "master"}}},
    {ej, ".*",
        {git, "https://github.com/chef/ej",                             {branch, "master"}}},
    {eper, ".*",
        {git, "https://github.com/massemanet/eper",                     {branch, "master"}}},
    %% latest version of jiffy i could find that doesn't
    %% break oc_erchef_unit and oc_bifrost on master verify
    %% pipeline.  could also try the two commits directly
    %% after this SHA

    % this is here because of license scout issues
    {fs, ".*",
        {git, "https://github.com/synrc/fs",                            {ref,    "936ba9dcf88186250ecc5995e25154bde44252a1"}}},
    % this is here because of license scout issues
    {goldrush, ".*",
        {git, "https://github.com/DeadZen/goldrush",                    {tag,    "0.2.0"}}},
    {jiffy, ".*",
        {git, "https://github.com/davisp/jiffy",                        {branch, "master"}}},
    {mixer, ".*",
        {git, "https://github.com/inaka/mixer",                         {branch, "master"}}},
    {mochiweb, ".*",
        {git, "https://github.com/mochi/mochiweb",                      {branch, "main"}}},
    {observer_cli, ".*",
        {git, "https://github.com/zhongwencool/observer_cli",           {branch, "master"}}},
    {opscoderl_wm, ".*",
        {git, "https://github.com/chef/opscoderl_wm",                   {branch, "main"}}},
    % this is here because of license scout issues
    {recon, ".*",
        {git, "https://github.com/ferd/recon/",                         {tag,    "2.5.1"}}},
    {sqerl, ".*",
        {git, "https://github.com/chef/sqerl",                          {branch, "main"}}},
    {stats_hero, ".*",
        {git, "https://github.com/chef/stats_hero",                     {branch, "main"}}},
    {sync, ".*",
        {git, "https://github.com/rustyio/sync",                        {branch, "master"}}}
]}.

{pre_hooks, [
             {clean, "make version_clean"},
             {compile, "make VERSION"}
]}.

{eunit_opts,
 [verbose]}.

{cover_enabled, true}.

{profiles, [
    {dev, [
        {relx, [{dev_mode, true},
                {include_src, true}
               ]}
    ]},
    {test, [
      {deps, [
        cth_readable
      ]}
    ]}
]}.

{overrides, [
    {override, jiffy, [
        {plugins, [pc]},
        {provider_hooks, [
            {post, [
                {compile, {pc, compile}},
                {clean, {pc, clean}}
            ]}
        ]}
    ]}
]}.

{plugins, [{pc, "1.8.0"}]}. % Locked to avoid fallout related to: https://github.com/blt/port_compiler/issues/43

{ct_opts, [{ct_hooks, [cth_readable_shell]}]}.

{relx, [
    {release,{oc_bifrost,{cmd,"cat VERSION"}}, [
        chef_secrets,
        {sync, load},
        {eunit, load},
        {mixer, load},
        syntax_tools,
        compiler,
        eper,
        observer_cli,
        opscoderl_wm,
        ej,
        jiffy,
        envy,
        sqerl,
        stats_hero,
        lager,
        bifrost
   ]},

    {include_erts, false},
    {include_src, false},
    {extended_start_script,true},
    {overlay,[{template,"config/vm.args","vm.args"},
            {template,"config/sys.config","sys.config"},
            {template,"config/secrets.json","config/secrets.json"}]}
]}.
