%% -*- mode: erlang -*-
%% -*- tab-width: 4;erlang-indent-level: 4;indent-tabs-mode: nil -*-
%% ex: ts=4 sw=4 ft=erlang et

{erl_opts, [
            warnings_as_errors,
            {parse_transform, lager_transform},
            debug_info
           ]}.
{erl_first_files, ["src/bifrost_wm.erl"]}.

{require_otp_vsn, "22.*"}.

{deps, [
    %% lager has to come first since we use its parse transform
    {lager, ".*",
        {git, "git://github.com/erlang-lager/lager.git",              {branch, "master"}}},
    {chef_secrets, ".*",
        {git, "git://github.com/chef/chef_secrets.git",               {branch, "master"}}},
    {edown, ".*",
        {git, "git://github.com/uwiger/edown.git",                    {branch, "master"}}},
    {ej, ".*",
        {git, "git://github.com/chef/ej.git",                         {branch, "lbaker/fixes-for-erlang19"}}},
    {eper, ".*",
        {git, "git://github.com/massemanet/eper.git",                 {branch, "master"}}},
    %% latest version of jiffy i could find that doesn't
    %% break oc_erchef_unit and oc_bifrost on master verify
    %% pipeline.  could also try the two commits directly
    %% after this SHA
    {jiffy, ".*",
        {git, "https://github.com/davisp/jiffy.git",                  {ref, "051a74338c089c39f09532188bc82cf1adedbdc8"}}},
    {mixer, ".*",
        {git, "git://github.com/chef/mixer.git",                      {tag, "0.1.1"}}},
    {mochiweb, ".*",
        {git, "git://github.com/mochi/mochiweb.git",                  {branch, "master"}}},
    % pinning this for now because an update to master (recon dep) broke compilation
    {observer_cli, ".*",
        {git, "git://github.com/zhongwencool/observer_cli.git",       {ref, "bcc0dfaa2013a436ce7e597731acab6577321b43"}}},
    {opscoderl_wm, ".*",
        {git, "git://github.com/chef/opscoderl_wm.git",               {branch, "master"}}},
    {sqerl, ".*",
        {git, "git://github.com/chef/sqerl.git",                      {branch, "master"}}},
    {stats_hero, ".*",
        {git, "git://github.com/chef/stats_hero.git",                 {branch, "master"}}},
    {sync, ".*",
        {git, "git://github.com/rustyio/sync.git",                    {branch, "master"}}}
]}.

{pre_hooks, [
             {clean, "make version_clean"},
             {compile, "make VERSION"}
]}.

{eunit_opts,
 [verbose]}.

{cover_enabled, true}.

{profiles, [
    {dev, [
        {relx, [{dev_mode, true},
                {include_src, true}
               ]}
    ]},
    {test, [
      {deps, [
        cth_readable
      ]}
    ]}
]}.

{overrides, [
    {override, jiffy, [
        {plugins, [{pc, "1.8.0"}]}, % Locked to avoid fallout related to: https://github.com/blt/port_compiler/issues/43
        {provider_hooks, [
            {post, [
                {compile, {pc, compile}},
                {clean, {pc, clean}}
            ]}
        ]}
    ]}
]}.

{plugins, [{pc, "1.8.0"}]}. % Locked to avoid fallout related to: https://github.com/blt/port_compiler/issues/43

{ct_opts, [{ct_hooks, [cth_readable_shell]}]}.

{relx, [
    {release,{oc_bifrost,{cmd,"cat VERSION"}}, [
        chef_secrets,
        {sync, load},
        {eunit, load},
        {mixer, load},
        syntax_tools,
        compiler,
        eper,
        observer_cli,
        opscoderl_wm,
        ej,
        jiffy,
        envy,
        sqerl,
        stats_hero,
        lager,
        bifrost
   ]},

    {include_erts, false},
    {include_src, false},
    {extended_start_script,true},
    {overlay,[{template,"config/vm.args","vm.args"},
            {template,"config/sys.config","sys.config"},
            {template,"config/secrets.json","config/secrets.json"}]}
]}.
