%% -*- mode: erlang -*-
%% -*- tab-width: 4;erlang-indent-level: 4;indent-tabs-mode: nil -*-
%% ex: ts=4 sw=4 ft=erlang et
{erl_opts, [
            warnings_as_errors,
            {parse_transform, lager_transform},
            debug_info
           ]}.
{erl_first_files, ["src/bifrost_wm.erl"]}.

{require_otp_vsn, "18.*|19.*"}.

{deps,
 [
  %% lager has to come first since we use its parse transform
  {lager, ".*",
   {git, "https://github.com/basho/lager.git", {branch, "master"}}},
  {jiffy, ".*",
   {git, "https://github.com/davisp/jiffy.git", {branch, "master"}}},
  {chef_secrets, ".*",
   %% ma/bump_versions is temporary until branch is merged.
   {git, "https://github.com/chef/chef_secrets.git", {branch, "master"}}},
  {mochiweb, ".*",
   {git, "https://github.com/mochi/mochiweb.git", {tag, "v2.12.2"}}},
  {ej, ".*",
   {git, "https://github.com/seth/ej.git", {branch, "master"}}},
  {mixer, ".*",
   {git, "https://github.com/chef/mixer.git", {tag, "0.1.1"}}},
  {sqerl, ".*",
   {git, "https://github.com/chef/sqerl.git", {branch, "master"}}},
  {edown, ".*",
   {git, "https://github.com/uwiger/edown.git", {branch, "master"}}},
  {stats_hero, ".*",
   {git, "https://github.com/chef/stats_hero.git", {branch, "master"}}},
  {opscoderl_wm, ".*",
   {git, "https://github.com/chef/opscoderl_wm.git", {branch, "master"}}},
  {sync, ".*",
   {git, "https://github.com/rustyio/sync.git", {branch, "master"}}},
  {eper, ".*",
   {git, "https://github.com/massemanet/eper.git", {branch, "master"}}},
  {observer_cli, ".*",
  {git, "https://github.com/zhongwencool/observer_cli.git", {branch, "master"}}}
 ]}.

{pre_hooks, [
             {clean, "make version_clean"},
             {compile, "make VERSION"}
]}.

{eunit_opts,
 [verbose]}.

{cover_enabled, true}.

{profiles, [
    {dev, [
        {relx, [{dev_mode, true},
                {include_src, true}
               ]}
    ]},
    {test, [
      {deps, [
        cth_readable
      ]}
    ]}
]}.

{overrides, [
    {override, jiffy, [
        {plugins, [{pc, "1.8.0"}]}, % Locked to avoid fallout related to: https://github.com/blt/port_compiler/issues/43
        {provider_hooks, [
            {post, [
                {compile, {pc, compile}},
                {clean, {pc, clean}}
            ]}
        ]}
    ]}
]}.

{plugins, [{pc, "1.8.0"}]}. % Locked to avoid fallout related to: https://github.com/blt/port_compiler/issues/43

{ct_opts, [{ct_hooks, [cth_readable_shell]}]}.

{relx, [
  {release,{oc_bifrost,{cmd,"cat VERSION"}}, [
        chef_secrets,
        {sync, load},
        {eunit, load},
        {mixer, load},
        syntax_tools,
        compiler,
        eper,
        observer_cli,
        opscoderl_wm,
        ej,
        jiffy,
        envy,
        sqerl,
        stats_hero,
        lager,
        bifrost
   ]},

  {include_erts, false},
  {include_src, false},
  {extended_start_script,true},
  {overlay,[{template,"config/vm.args","vm.args"},
            {template,"config/sys.config","sys.config"},
            {template,"config/secrets.json","config/secrets.json"}]}
]}.
