%% -*- mode: erlang -*-
%% -*- tab-width: 4;erlang-indent-level: 4;indent-tabs-mode: nil -*-
%% ex: ts=4 sw=4 ft=erlang et
{release,{oc_bifrost,"12.2.0"},
     [bifrost,
      {sync, load},
      {eunit, load},
      {mixer, load},
      syntax_tools,
      compiler,
      eper
     ]}.
{extended_start_script,true}.
{overlay,[{template,"rel/files/vm.args","vm.args"},
          {template,"rel/files/sys.config","sys.config"}]}.
