# Documentation available at https://expeditor.chef.io/docs/getting-started/
---
# The name of the product keys for this product (from mixlib-install)
product_key: chef-server

# Slack channel in Chef Software slack to send notifications about build failures, etc
slack:
  notify_channel: chef-server-notify

github:
  # The file where the MAJOR.MINOR.PATCH version is kept. The version in this file
  # is bumped automatically via the `built_in:bump_version` merge_action.
  version_file: "VERSION"
  # The file where our CHANGELOG is kept. This file is updated automatically with
  # details from the Pull Request via the `built_in:update_changelog` merge_action.
  changelog_file: "CHANGELOG.md"
  release_branch:
    - master:
        version_constraint: 14*

# At the given time, trigger the following scheduled workloads
# https://expeditor.chef.io/docs/patterns/scheduled-action-sets/
schedules:
  - name: nightly_build
    description: "Run a nightly build in the omnibus/adhoc pipeline"
    cronline: "0 6 * * *"

pipelines:
  - verify
  - habitat/build
  - habitat/test:
      definition: .expeditor/habitat-test.pipeline.yml
      trigger: default
  - omnibus/release
  - omnibus/adhoc:
      definition: .expeditor/release.omnibus.yml
      env:
        - ADHOC: true
  - post-promote:
      description: "Generate and upload release manifest"
      definition: .expeditor/post-promote.pipeline.yml

# These actions are taken, in order they are specified, anytime a Pull Request is merged.
merge_actions:
  - built_in:bump_version:
      post_commit: false
      ignore_labels:
        - "Expeditor: Skip Version Bump"
        - "Expeditor: Skip All"
        - "Aspect: Documentation"
  - built_in:update_changelog:
      post_commit: false
      ignore_labels:
        - "Expeditor: Skip Changelog"
        - "Expeditor: Skip All"
        - "Aspect: Documentation"
  - trigger_pipeline:omnibus/release:
      post_commit: true
      ignore_labels:
        - "Expeditor: Skip Omnibus"
        - "Expeditor: Skip All"
        - "Aspect: Documentation"
      only_if: built_in:bump_version
  - trigger_pipeline:habitat/build:
      post_commit: true
      ignore_labels:
        - "Expeditor: Skip Habitat"
        - "Expeditor: Skip All"
        - "Aspect: Documentation"
      only_if: built_in:bump_version

# These actions are taken, in the order specified, when an Omnibus artifact is promoted
# within Chef's internal artifact storage system.
#
# TODO: add action to update changelog with modified omnibus components
subscriptions:
  # Subscription to workload action of pull request merge to master branch on
  # omnibus-software project will allow us to trigger an uncached omnibus build
  # for chef-server when the omnibus-software has modified software config files.
  # chef/omnibus-software
  - workload: pull_request_merged:chef/omnibus-software:master:*
    actions:
      - trigger_pipeline:omnibus/adhoc:
          only_if_modified:
            - config/software/*
  - workload: artifact_published:current:chef-server:{{version_constraint}}
    actions:
      - bash:.expeditor/promote_harts_and_containers.sh:
          post_commit: true
      - purge_packages_chef_io_fastly:{{target_channel}}/chef-server/latest
  - workload: artifact_published:stable:chef-server:{{version_constraint}}
    actions:
      - built_in:rollover_changelog
      - bash:.expeditor/promote_harts_and_containers.sh:
          post_commit: true
      - bash:.expeditor/publish-release-notes.sh:
          post_commit: true
      - purge_packages_chef_io_fastly:{{target_channel}}/chef-server/latest
      - bash:.expeditor/announce-release.sh:
          post_commit: true
      - built_in:notify_chefio_slack_channels
  - workload: schedule_triggered:chef/chef-server:master:nightly_build:*
    actions:
      - trigger_pipeline:omnibus/adhoc
  # Run these actions when the freshly built Habitat packages have been uploaded to Depot
  - workload: buildkite_hab_build_group_published:{{agent_id}}:*
    actions:
      - trigger_pipeline:post-promote:
          post_commit: true
  - workload: buildkite_build_passed:{{agent_id}}:post-promote:*
    actions:
      - purge_packages_chef_io_fastly:{{target_channel}}/chef-server/latest

promote:
  actions:
    - built_in:promote_artifactory_artifact
  channels:
    - unstable
    - current
    - stable
