%% -*- mode: erlang;erlang-indent-level: 4;indent-tabs-mode: nil -*-
%% ex: ts=4 sw=4 ft=erlang et

%% Plugin usage
{plugins, [rebar_lock_deps_plugin]}.
{cover_enabled, true}.
{sub_dirs, ["rel"]}.
{lib_dirs, ["deps"]}.

{deps, [
        {lager, ".*",
         {git, "https://github.com/basho/lager", {branch, "master"}}},
        {moser, ".*",
         {git, "https://github.com/opscode/moser", {branch, "master"}}},
        {chef_reindex, ".*",
         {git, "https://github.com/opscode/chef_reindex", {branch, "master"}}},
        {rebar_lock_deps_plugin, ".*",
         {git, "https://github.com/seth/rebar_lock_deps_plugin", {branch, "master"}}},
        {ibrowse, ".*",
         {git, "https://github.com/opscode/ibrowse", {tag, "v4.0.1.1"}}},
        {eper, ".*",
         {git, "https://github.com/massemanet/eper", {branch, "master"}}},
        {folsom, ".*",
         {git,"https://github.com/boundary/folsom", {tag, "0.7.4"}}},
        {eredis, ".*",
         {git, "https://github.com/wooga/eredis", {tag, "master"}}},
        {oc_erchef, ".*",
         {git, "https://github.com/opscode/oc_erchef", {tag, "1.0.0"}}},
        {bcrypt, ".*",
         {git, "https://github.com/opscode/erlang-bcrypt", {tag, "0.5.0.3"}}},
        {hoax, ".*",
         {git, "https://github.com/xenolinguist/hoax", {branch, "master"}}}
       ]}.
{erl_opts, [debug_info,
    %warnings_as_errors, warnings are from oauth
    {parse_transform,lager_transform}]}.
