%% -*- mode: erlang;erlang-indent-level: 4;indent-tabs-mode: nil -*-
%% ex: ts=4 sw=4 ft=erlang et

{deps, [
        {ibrowse, ".*", {git, "git://github.com/cmullaparthi/ibrowse.git",
                         "master"}},
        {chef_common, ".*",
         {git, "git@github.com:opscode/chef-api-common-erlang.git", {branch, "master"}}}
       ]}.
