{erl_opts, [debug_info,
            warnings_as_errors,
            {parse_transform, lager_transform}
           ]}.

{deps_error_on_conflict, true}.

{deps, [
        erlware_commons,
        {cowboy, {git, "https://github.com/ninenines/cowboy.git", {branch, "master"}}},
        {gun, {git, "https://github.com/ninenines/gun.git", {branch, "master"}}},

        {lager, {git, "https://github.com/basho/lager", {tag, "3.1.0"}}},
        {sync, {git,"https://github.com/rustyio/sync.git", {branch, "master"}}},

        {envy, {git, "https://github.com/markan/envy", {branch, "master"}}},

        {eper, {git, "https://github.com/massemanet/eper.git", {tag, "master"}}},
        {recon, {git, "https://github.com/ferd/recon.git", {branch, "master"}}}
       ]}.

{relx, [{release, {'sky', {cmd, "cat ../VERSION"}},
         ['sky',
          cowboy,
          erlware_commons,
          {sync, load},  % Load sync but do not start it by default
          eper, recon,   % debugging tools
          syntax_tools,  % for sync
          compiler       % for sync
         ]},
        % If we are building/testing on the host, we can add a
        % 'touch _build/default/data/ENABLE_DEVTOOLS' to
        % turn on hot code loading via sync.
        {overlay, [{mkdir,"data"}]},

        {sys_config, "./config/sys.config"},
        {vm_args, "./config/vm.args"},

        {dev_mode, true},
        {include_erts, false},

        {extended_start_script, true}]
}.

{profiles, [{prod, [{relx, [{dev_mode, false},
                            {include_erts, true}]}]
            }]
}.
