{deps,[{goldrush,".*",
                 {git,"git://github.com/DeadZen/goldrush.git",
                      "1d883423ac360b3536ca52dc733a0164bacf3109"}},
       {lager,".*",
              {git,"https://github.com/basho/lager.git", {branch, "master"}}},
       {rebar_lock_deps_plugin,".*",
                               {git,"git://github.com/seth/rebar_lock_deps_plugin.git",
                                    "9711549b8a84b065eb2edc22f8eb6ff85e3c94e8"}},
       {mochiweb,".*",
                 {git,"git://github.com/basho/mochiweb.git",
                      "ade2a9b29a11034eb550c1d79b4f991bf5ca05ba"}},
       {webmachine,".*",
                   {git,"git://github.com/basho/webmachine",
                        "7677c240f4a7ed020f4bab48278224966bb42311"}},
       {opscoderl_wm,".*",
                     {git,"git://github.com/opscode/opscoderl_wm.git",
                          "64db62e070da58cf7bb0caebde7a3f11c2e3cbbb"}},
       {envy,".*",
             {git,"git://github.com/markan/envy.git",
                  "d62cb227b9000ee866c8bcc724ddf68d87621dea"}},
       {chef_authn,".*",
                   {git,"git://github.com/opscode/chef_authn.git",
                        "f92325bbcd18364f3eaa41d4e84dff5919090e85"}},
       {epgsql,".*",
               {git,"git://github.com/opscode/epgsql.git",
                    "6b016ba7bd932919d57770fcca6cf11c285ef268"}},
       {pooler,".*",
               {git,"git://github.com/seth/pooler.git",
                    "7bb8ab83c6f60475e6ef8867d3d5afa0b1dd4013"}},
       {sqerl,".*",
              {git,"git://github.com/opscode/sqerl.git",
                   "6f163f4b6270a0079a924b155f0cc4c52cddd017"}},
       {meck,".*",
             {git,"git://github.com/eproxus/meck.git",
                  "fd1c79361d4a5fa16774c8b378dd89104d3dfaa5"}},
       {eper,".*",
             {git,"git://github.com/massemanet/eper.git",
                  "5d4c3e9c91bd96b67a92cbdac4601c43340e1d88"}},
       {bear,".*",
             {git,"git://github.com/boundary/bear.git",
                  "b1882d7ee88e775d961a2678e4fafecef7f77705"}},
       {folsom,".*",
               {git,"git://github.com/boundary/folsom.git",
                    "ee674c185e4b6719d9f342a8ba7b9150ec1260bd"}},
       {folsom_graphite,".*",
                        {git,"git://github.com/opscode/folsom_graphite.git",
                             "0bf3d47e52178d8cf24ad9acdf5f37f4fb46a6b1"}},
       {ibrowse,".*",
                {git,"git://github.com/opscode/ibrowse.git",
                     "8f3f6a3a30730b193cc340a8885a960586dc98de"}},
       {mini_s3,".*",
                {git,"git://github.com/opscode/mini_s3.git",
                     "b32b9e92d3cc00def658e3c45231f00d5b7aaf55"}},
       {opscoderl_folsom,".*",
                         {git,"git://github.com/opscode/opscoderl_folsom.git",
                              "d493429f895a904e9fd86d12a68f7075dfa8e227"}},
       {bcrypt,".*",
               {git,"git://github.com/opscode/erlang-bcrypt.git",
                    "820283b0d329368f298afd22038340c888689a39"}},
       {mixer,".*",
              {git,"git://github.com/opscode/mixer.git",
                   "58ded93d5c47675899d8e5e1589270f340ea66c5"}},
       {ejson,".*",
              {git,"git://github.com/kevsmith/ejson.git",
                   "2a78a82f9fb240cac5a33ee4dc13702539463ad6"}},
       {oauth,".*",
              {git,"git://github.com/opscode/erlang-oauth.git",
                   "2b796ea7973c0f38aad569bf2506bd8026eca004"}},
       {couchbeam,".*",
                  {git,"git://github.com/opscode/couchbeam.git",
                       "c7881f6247a92cd62a818fe9f637ff973a5f8923"}},
       {edown,".*",
              {git,"git://github.com/seth/edown.git",
                   "30a9f7867d615af45783235faa52742d11a9348e"}},
       {stats_hero,".*",
                   {git,"git://github.com/opscode/stats_hero.git",
                        "ff000415e5ca71d7ffcfea15153bd696a386455a"}},
       {ej,".*",
           {git,"git://github.com/seth/ej.git",
                "132a9a3c0662a2377eaf7ebee694a496a0957160"}},
       {jiffy,".*",
              {git,"git://github.com/davisp/jiffy.git",
                   "a16918da46a39a3d0791889f61f62b1265955d8d"}},
       {gen_server2,".*",
                    {git,"git://github.com/mdaguete/gen_server2.git",
                         "992650004c81ee921183488cb8115de4777e7bd9"}},
       {rabbit_common,".*",
                      {git,"git://github.com/seth/rabbit_common.git",
                           "4388fe57cb63872f5fcf3a2670b4f05de657a64b"}},
       {amqp_client,".*",
                    {git,"git://github.com/seth/amqp_client.git",
                         "7622ad8093a41b7288a1aa44dd16d3e92ce8f833"}},
       {gen_bunny,".*",
                  {git,"git://github.com/seth/gen_bunny.git",
                       "fe10af39cd4ad8de7a8d6a0d90f79ea73e788761"}},
       {rebar_vsn_plugin,".*",
                         {git,"https://github.com/erlware/rebar_vsn_plugin.git",
                              "fd40c960c7912193631d948fe962e1162a8d1334"}},
       {erlware_commons,".*",
                        {git,"https://github.com/chef/erlware_commons.git",
                             {branch, "lbaker/fix_for_ftmap"}}},
       {darklaunch,".*",
                   {git,"git://github.com/opscode/opscode-darklaunch-erlang.git",
                        "05881cb04e9393ab42b6fac3b22803130ef2701c"}},
       {automeck,".*",
                 {git,"git://github.com/opscode/automeck.git",
                      "363657b4dff5ef5561e77a7d44348abf11405d09"}},
       {opscoderl_httpc,".*",
                        {git,"git://github.com/opscode/opscoderl_httpc.git",
                             "2f0e99cadbe80b5c728109ff669a5efb164ab79e"}},
       {quickrand,".*",
                  {git,"https://github.com/okeuday/quickrand.git",
                       "0395a10b94472ccbe38b62bbfa9d0fc1ddac1dd7"}},
       {uuid,".*",
             {git,"git://github.com/okeuday/uuid.git",
                  "f7c141c8359cd690faba0d2684b449a07db8e915"}}]}.
