{deps,[
 {amqp_client,".*",
  {git,"git://github.com/seth/amqp_client.git",
        "7622ad8093a41b7288a1aa44dd16d3e92ce8f833"}},
 {automeck,".*",
  {git,"git://github.com/opscode/automeck.git",
        "363657b4dff5ef5561e77a7d44348abf11405d09"}},
 {bcrypt,".*",
  {git,"git://github.com/abhay/erlang-bcrypt.git",
          "f6ff677ac73872a3ce477fda5ab4143cfc3a5f91"}},
 {bear,".*",
  {git,"git://github.com/boundary/bear.git",
        "119234548783af19b8ec75c879c5062676b92571"}},
 {chef_authn,".*",
  {git,"git://github.com/opscode/chef_authn.git",
          "5d0577f693404898d6f05dbcbb38ffe2cc36c15d"}},
 {couchbeam,".*",
  {git,"git://github.com/chef/couchbeam.git",
         {branch, "lbaker/fixes-for-erlang19"}}},
 {darklaunch,".*",
  {git,"git://github.com/opscode/opscode-darklaunch-erlang.git",
          "7e2ace8ccfbd44b993e94aa41a126f0dfe1d52e1"}},
 {edown,".*",
  {git,"git://github.com/seth/edown.git",
         "754be25f71a04099c83f3ffdff268e70beeb0021"}},
 {ej,".*",
  {git,"git://github.com/chef/ej.git",
          "85bbf475ec533447d244be50f7f450f41cbc1adf"}},
 {ejson,".*",
  {git,"git://github.com/kevsmith/ejson.git",
         "2a78a82f9fb240cac5a33ee4dc13702539463ad6"}},
 {envy,".*",
  {git,"git://github.com/markan/envy.git",
        "0148fb4b7ed0e188511578e98b42d6e7dde0ebd1"}},
 {eper,".*",
  {git,"git://github.com/massemanet/eper.git",
        "17b0f97ea8287b72e8ebbe7132214db182ff1a1d"}},
 {epgsql,".*",
  {git,"git://github.com/opscode/epgsql.git",
          "34b4182f0e21f9189ddd7b2e290f01a9e7d93bf1"}},
 {erlware_commons,".*",
  {git,"git://github.com/chef/erlware_commons.git",
           {branch, "lbaker/fix_for_ftmap"}}},
 {folsom,".*",
  {git,"git://github.com/boundary/folsom.git",
          "38e2cce7c64ce1f0a3a918d90394cfc0a940b1ba"}},
 {folsom_graphite,".*",
  {git,"git://github.com/opscode/folsom_graphite.git",
         "0bf3d47e52178d8cf24ad9acdf5f37f4fb46a6b1"}},
 {gen_bunny,".*",
  {git,"git://github.com/seth/gen_bunny.git",
        "fe10af39cd4ad8de7a8d6a0d90f79ea73e788761"}},
 {gen_server2,".*",
  {git,"git://github.com/mdaguete/gen_server2.git",
        "992650004c81ee921183488cb8115de4777e7bd9"}},
 {goldrush,".*",
  {git,"git://github.com/DeadZen/goldrush.git",
        "8f1b715d36b650ec1e1f5612c00e28af6ab0de82"}},
 {ibrowse,".*",
  {git,"git://github.com/chef/ibrowse.git",
        {branch, "ma/revert_ipv6"}}},
 %% latest version of jiffy i could find that doesn't
 %% break oc_erchef_unit and oc_bifrost on master verify
 %% pipeline.  could also try the two commits directly
 %% after this SHA
 {jiffy,".*",
  {git,"git://github.com/davisp/jiffy.git",
        "051a74338c089c39f09532188bc82cf1adedbdc8"}},
 {lager,".*",
  {git,"git://github.com/basho/lager.git",
        "81eaef0ce98fdbf64ab95665e3bc2ec4b24c7dac"}},
 {meck,".*",
  {git,"git://github.com/eproxus/meck.git",
        "9753464ac1ebc0fc1a6777322bc871eaed82be35"}},
 {mini_s3,".*",
  {git,"git://github.com/opscode/mini_s3.git",
        {branch, "lbaker/presigned-headers"}}},
 {mixer,".*",
  {git,"git://github.com/opscode/mixer.git",
         "58ded93d5c47675899d8e5e1589270f340ea66c5"}},
 {mochiweb,".*",
  {git,"git://github.com/basho/mochiweb.git",
        "ade2a9b29a11034eb550c1d79b4f991bf5ca05ba"}},
 {oauth,".*",
  {git,"git://github.com/opscode/erlang-oauth.git",
         "2b796ea7973c0f38aad569bf2506bd8026eca004"}},
 {opscoderl_folsom,".*",
  {git,"git://github.com/opscode/opscoderl_folsom.git",
        "d493429f895a904e9fd86d12a68f7075dfa8e227"}},
 {opscoderl_httpc,".*",
  {git,"git://github.com/chef/opscoderl_httpc.git",
         "bab889e9165b662c2c23ae3cd5449d6875e7507c"}},
 {opscoderl_wm,".*",
  {git,"git://github.com/chef/opscoderl_wm.git",
       "572d968f7f9f9f49fe155efa7e46dbfc78383ead"}},
 {pooler,".*",
  {git,"git://github.com/seth/pooler.git",
          "9c28fb479f9329e2a1644565a632bc222780f1b7"}},
 {quickrand,".*",
  {git,"git://github.com/okeuday/quickrand.git",
         "0395a10b94472ccbe38b62bbfa9d0fc1ddac1dd7"}},
 {rabbit_common,".*",
  {git,"git://github.com/seth/rabbit_common.git",
         "4388fe57cb63872f5fcf3a2670b4f05de657a64b"}},
 {rebar_lock_deps_plugin,".*",
  {git,"git://github.com/seth/rebar_lock_deps_plugin.git",
          "9711549b8a84b065eb2edc22f8eb6ff85e3c94e8"}},
 {rebar_vsn_plugin,".*",
  {git,"git://github.com/erlware/rebar_vsn_plugin.git",
        "fd40c960c7912193631d948fe962e1162a8d1334"}},
 {sqerl,".*",
  {git,"git://github.com/opscode/sqerl.git",
         "6f163f4b6270a0079a924b155f0cc4c52cddd017"}},
 {stats_hero,".*",
  {git,"git://github.com/opscode/stats_hero.git",
       "0811d3045874f6c16b76c04ac9358322e029c4b7"}},
 {webmachine,".*",
  {git,"git://github.com/chef/webmachine",
       "1389b01a9fbc25d36aad8956e08d2d0db242625f"}},
 {uuid,".*",
  {git,"git://github.com/okeuday/uuid.git",
        "f7c141c8359cd690faba0d2684b449a07db8e915"}}]}.
