%% -*- mode:erlang, erlang-indent-level: 4;indent-tabs-mode: nil -*-
{ping, <<"SELECT 'pong' AS ping LIMIT 1">>}.

%% Create bucket
%% buckets.name returns buckets.id
{insert_bucket, <<"INSERT INTO buckets (name) VALUES ($1)">>}.

{delete_bucket, <<"DELETE FROM buckets WHERE name = $1">>}.

{find_bucket, <<"SELECT name, id, created_at FROM buckets WHERE name = $1">>}.

{list_bucket,
 <<"SELECT b.name AS bucket_name, f.bucket_id, f.name, created_at, data_id "
   "FROM files f INNER JOIN buckets b ON f.bucket_id = b.id WHERE b.name = $1">>}.

{list_bucket_with_hash,
 <<"SELECT * FROM expanded_files WHERE bucket_name = $1 ">>}.

{list_buckets, <<"SELECT name, id, created_at FROM buckets ORDER BY name">>}.

%% Create a file
{create_file_link_data, <<"SELECT create_file_link_data($1, $2, $3) AS success">>}.

%% Link a file with a data segment
{link_file_data, <<"SELECT link_file_data($1,$2) AS success">>}.

%% Get file information by name and bucket
{find_file,
 <<"SELECT * FROM expanded_files WHERE (bucket_name = $1 AND name = $2)">>}.

{delete_file,
 <<"DELETE FROM files WHERE id = $1">>}.

%% file_data
%% Insert a new data segment
{insert_file_data,
 <<"INSERT INTO file_data (complete) VALUES ('false') RETURNING data_id">>}.

%% Mark a data element done
{update_metadata,
 <<"UPDATE file_data SET data_size = $2, chunk_count = $3, hash_md5 = $4, hash_sha256 = $5, hash_sha512 = $6 WHERE data_id = $1">>}.

%%
%% file_chunks
%%
{fetch_file_chunk_data,
 <<"SELECT data,chunk FROM file_chunks WHERE (data_id = $1 AND chunk = $2)">>}.

{add_file_chunk,
 <<"INSERT INTO file_chunks (data_id, chunk, data) VALUES ($1, $2, $3)">>}.

%%
%% Cleanup tasks
%%
{purge_expired, <<"SELECT purge_expired($1)">>}.
{cleanup_abandoned_uploads, <<"SELECT cleanup_abandoned_uploads($1)">>}.
