rel/oc_erchef
deps
.DS_Store
TAGS
.rebar
ebin
.eunit
user_default.beam
chef_db_SUITE_data
*.so
*.o
*.d
*.beam
tags
*.dump
_rel
.concrete
relx
deps.plt
apps/chef_index/src/chef_lucene.erl
VERSION
_build
_dialyzer_cache
*.coverdata