%% -*- mode: erlang -*-
%% -*- tab-width: 4;erlang-indent-level: 4;indent-tabs-mode: nil -*-
%% ex: ts=4 sw=4 ft=erlang et

{deps, [
        {lager, ".*",
         {git, "https://github.com/basho/lager", {tag, "2.1.1"}}},
        {neotoma, "",
         {git, "https://github.com/seancribbs/neotoma", {tag, "1.7.2"}}},
        {opscoderl_wm, ".*",
         {git, "https://github.com/chef/opscoderl_wm", {branch, "master"}}},
        {chef_authn, ".*",
         {git, "https://github.com/chef/chef_authn", {branch, "master"}}},
        {sqerl, ".*",
         {git, "https://github.com/chef/sqerl", {branch, "master"}}},
        {eper, ".*",
         {git, "https://github.com/massemanet/eper", {branch, "master"}}},
        {folsom_graphite, ".*",
         {git, "https://github.com/chef/folsom_graphite", "master"}},
        {mini_s3, ".*",
         {git, "https://github.com/chef/mini_s3", {branch, "master"}}},
        {opscoderl_folsom, ".*",
         {git, "https://github.com/chef/opscoderl_folsom", {branch, "master"}}},
        {pooler, ".*",
         {git, "https://github.com/seth/pooler", {tag, "1.3.3"}}},
        {bcrypt, ".*",
         {git, "https://github.com/chef/erlang-bcrypt", {branch, "master"}}},
        {mixer, ".*",
         {git, "https://github.com/chef/mixer", {tag, "0.1.1"}}},
        {stats_hero, ".*",
         {git, "https://github.com/chef/stats_hero", {branch, "master"}}},
        {ej, ".*",
         {git, "https://github.com/seth/ej", {branch, "master"}}},
        {envy, ".*",
         {git, "https://github.com/markan/envy", {branch, "master"}}},
        {jiffy, ".*",
         {git, "https://github.com/davisp/jiffy", {branch, "master"}}},
        {ibrowse, ".*",
         {git, "https://github.com/chef/ibrowse", {tag, "v4.0.1.1"}}},
        {gen_bunny, ".*",
         {git, "https://github.com/seth/gen_bunny", {branch, "master"}}},
        {erlware_commons, "",
         {git, "https://github.com/erlware/erlware_commons", {branch, "master"}}},
        {efast_xs, ".*",
         {git, "https://github.com/chef/efast_xs", {branch, "master"}}},
        {folsom, ".*",
         {git, "https://github.com/boundary/folsom", {tag, "0.8.2"}}},
        {darklaunch, ".*",
         {git, "https://github.com/chef/opscode-darklaunch-erlang", {branch, "master"}}},
        {opscoderl_httpc, ".*",
         {git, "https://github.com/chef/opscoderl_httpc", {branch, "master"}}},
        {uuid, ".*",
         {git, "https://github.com/okeuday/uuid", {tag, "v1.3.2"}}},
        {sync, ".*",
         {git, "https://github.com/rustyio/sync.git", {branch, "master"}}}
       ]}.

{cover_enabled, true}.
{cover_print_enabled, true}.

{erl_opts, [
            {d, 'OC_CHEF'},
            {d, 'CHEF_DB_DARKLAUNCH', xdarklaunch_req},
            {d, 'CHEF_WM_DARKLAUNCH', xdarklaunch_req},
            {parse_transform, lager_transform},
            warnings_as_errors,
            debug_info,
            {platform_define, "^[0-9]+", namespaced_types},
            {i, "include"},
            {i, "../../../include"}
           ]}.

{overrides, [
    {override, jiffy, [
        {plugins, [pc]},
        {provider_hooks, [
            {post, [
                {compile, {pc, compile}},
                {clean, {pc, clean}}
            ]}
        ]}
    ]}
]}.

{plugins, [
            {pc, "0.3.0"},
            {rebar3_neotoma_plugin, ".*",
              {git, "https://github.com/tsloughter/rebar3_neotoma_plugin", {ref, "6cacbc2a3476fb589a63a4c38e4bf1b17dfdc4e4"}}}
        ]}.

{profiles, [
    {test, [
        {deps, [
            meck,
            {automeck,
             {git, "https://github.com/chef/automeck", {branch, "master"}}},
            {cth_readable,
              {git, "https://github.com/ferd/cth_readable.git", {branch, "master"}}},
              %% NOTE: PROPER IS GPL V3, IT MUST REMAIN A TEST ONLY DEP
              {proper, {git, "https://github.com/manopapad/proper.git", {branch, "master"}}}
                ]},
        {erl_opts, [export_all]}
       ]},
    {fips, [
        {deps, [
            {crypto, {git,"git://github.com/jaym/erlang-crypto2", {branch, "master"}}}
        ]}
       ]},
    {dev, [
        {relx, [{dev_mode, true},
                {include_src, true}
               ]}
    ]}
]}.

{pre_hooks, [
             {clean, "make bundle_clean version_clean"},
             {compile, "make bundle VERSION"}
]}.

{ct_opts, [{ct_hooks, [cth_readable_shell]}]}.

{dialyzer,[
    {plt_extra_apps, [
        webmachine,
        common_test,
        test_server,
        ssl,
        eunit
    ]}
]}.

{relx, [
    {release,{oc_erchef,{cmd,"cat VERSION"}},
        [oc_erchef,
        {sync, load},
        {eunit, load},
        {mixer, load},
        syntax_tools,
        compiler,
        eper,
        efast_xs
    ]},

    {include_src, false},
    {extended_start_script,true},
    {overlay_vars,"config/vars.config"},
    {overlay,[{mkdir,"log/sasl"},
              {mkdir,"lib/patches"},
              {mkdir,"etc/keys"},
              {copy,"schema","."},
              {copy,"priv/reindex-opc-organization",
                    "bin/reindex-opc-organization"},
              {template,"config/vm.args","vm.args"},
              {template,"config/app.config","sys.config"}]}
]}.
