%% -*- mode: erlang -*-
%% -*- tab-width: 4;erlang-indent-level: 4;indent-tabs-mode: nil -*-
%% ex: ts=4 sw=4 ft=erlang et

{require_otp_vsn, "18.*|19.*"}.

{deps, [
        {lager, ".*",
         {git, "https://github.com/basho/lager", {branch, "master"}}},
        {jiffy, ".*",
         {git, "https://github.com/davisp/jiffy", {branch, "master"}}},
        {chef_secrets, ".*",
         {git, "https://github.com/chef/chef_secrets", {branch, "master"}}},
        {erlware_commons, "",
         {git, "https://github.com/erlware/erlware_commons", {branch, "master"}}},
        {cf, "",
         {git, "https://github.com/project-fifo/cf", {branch, "master"}}},
        {uuid, ".*",
         {git, "https://github.com/okeuday/uuid", {tag, "v1.6.0"}}},
        {mochiweb, ".*",
         {git, "git://github.com/mochi/mochiweb", {tag, "v2.12.2"}}},
        {neotoma, "",
         {git, "https://github.com/seancribbs/neotoma", {tag, "1.7.2"}}},
        {opscoderl_wm, ".*",
         {git, "https://github.com/chef/opscoderl_wm", {branch, "master"}}},
        {chef_authn, ".*",
         {git, "https://github.com/chef/chef_authn", {branch, "master"}}},
        {sqerl, ".*",
         {git, "https://github.com/chef/sqerl", {branch, "master"}}},
        {eper, ".*",
         {git, "https://github.com/massemanet/eper", {branch, "master"}}},
        {folsom_graphite, ".*",
         {git, "https://github.com/chef/folsom_graphite", "master"}},
        {mini_s3, ".*",
         {git, "https://github.com/chef/mini_s3", {branch, "ma/add_tests"}}},
        {opscoderl_folsom, ".*",
         {git, "https://github.com/chef/opscoderl_folsom", {branch, "master"}}},
        {pooler, ".*",
         {git, "https://github.com/seth/pooler", {branch, "master"}}},
        {bcrypt, ".*",
         {git, "https://github.com/smarkets/erlang-bcrypt", {branch, "master"}}},
        {mixer, ".*",
         {git, "https://github.com/chef/mixer", {tag, "0.1.1"}}},
        {stats_hero, ".*",
         {git, "https://github.com/chef/stats_hero", {branch, "master"}}},
        {edown, ".*",
         {git, "https://github.com/uwiger/edown", {branch, "master"}}},
        {ej, ".*",
         {git, "https://github.com/seth/ej", {branch, "master"}}},
        {envy, ".*",
         {git, "https://github.com/markan/envy", {branch, "master"}}},
        {ibrowse, ".*",
         {git, "https://github.com/chef/ibrowse", {tag, "v4.0.1.1"}}},
        {gen_bunny, ".*",
         {git, "https://github.com/seth/gen_bunny", {branch, "master"}}},
        {efast_xs, ".*",
         {git, "https://github.com/chef/efast_xs", {branch, "master"}}},
        {folsom, ".*",
         {git, "https://github.com/boundary/folsom", {tag, "0.8.2"}}},
        {darklaunch, ".*",
         {git, "https://github.com/chef/opscode-darklaunch-erlang", {branch, "master"}}},
        {opscoderl_httpc, ".*",
         {git, "https://github.com/chef/opscoderl_httpc", {branch, "master"}}},
        {sync, ".*",
         {git, "https://github.com/rustyio/sync.git", {branch, "master"}}},
        {prometheus, ".*",
         {git, "https://github.com/deadtrickster/prometheus.erl", {tag, "v3.4.0"}}},
        {observer_cli, ".*",
         {git, "https://github.com/zhongwencool/observer_cli", {branch, "master"}}}
       ]}.

{cover_enabled, true}.
{cover_print_enabled, true}.
{eunit_opts, [verbose]}.

{erl_opts, [
            {d, 'OC_CHEF'},
            {d, 'CHEF_DB_DARKLAUNCH', xdarklaunch_req},
            {d, 'CHEF_WM_DARKLAUNCH', xdarklaunch_req},
            {parse_transform, lager_transform},
            warnings_as_errors,
            debug_info,
            {platform_define, "^[0-9]+", namespaced_types},
            {i, "include"},
            {i, "../../../include"}
           ]}.

{ct_opts, [{dir, ["apps/chef_db/itest",
                  "apps/oc_chef_authz/itest",
                  "apps/oc_chef_wm/itest"]}]}.

{overrides, [
    {override, jiffy, [
        {plugins, [{pc, "1.8.0"}]}, % Locked to avoid fallout related to: https://github.com/blt/port_compiler/issues/43
        {provider_hooks, [
            {post, [
                {compile, {pc, compile}},
                {clean, {pc, clean}}
            ]}
        ]}
    ]}
]}.


{plugins, [ {pc, "1.8.0"}, % Locked to avoid fallout related to: https://github.com/blt/port_compiler/issues/43
            rebar3_neotoma_plugin]}.

{profiles, [
    {test, [
        {deps, [
            meck,
            {automeck,
             {git, "https://github.com/chef/automeck", {branch, "master"}}},
            %% NOTE: PROPER IS GPL V3, IT MUST REMAIN A TEST ONLY DEP
            {proper, {git, "https://github.com/manopapad/proper.git", {branch, "master"}}}
               ]},
        {erl_opts, [export_all]}
       ]},
    {dev, [
        {relx, [{dev_mode, true},
                {include_src, true}
               ]}
    ]}
]}.

{pre_hooks, [
             {clean, "make bundle_clean version_clean"},
             {compile, "make bundle VERSION"}
]}.

{dialyzer,[
    {plt_location, "_dialyzer_cache/"},
    {plt_extra_apps, [
        webmachine,
        common_test,
        test_server,
        ssl,
        eunit
    ]}
]}.

{relx, [
    {release,{oc_erchef,{cmd,"cat VERSION"}}, [
                chef_secrets,
        oc_erchef,
        {sync, load},
        {eunit, load},
        {mixer, load},
        syntax_tools,
        compiler,
        eper,
        observer_cli,
        efast_xs
    ]},

    {include_erts, false},
    {include_src, false},
    {extended_start_script,true},
    {overlay_vars,"config/vars.config"},
    {overlay,[{mkdir,"log/sasl"},
              {mkdir,"lib/patches"},
              {mkdir,"etc/keys"},
              {copy,"schema","."},
              {copy,"priv/reindex-opc-organization",
                    "bin/reindex-opc-organization"},
              {template,"config/app.config","sys.config"}]}
]}.
