%% -*- mode: erlang -*-
%% -*- tab-width: 4;erlang-indent-level: 4;indent-tabs-mode: nil -*-
%% ex: ts=4 sw=4 ft=erlang et

{require_otp_vsn, "22.*"}.

{deps, [
    %% lager has to come first since we use its parse transform
    {lager, ".*",
        {git, "git://github.com/erlang-lager/lager.git",              {branch, "master"}}},
    {bcrypt, ".*",
        {git, "git://github.com/abhay/erlang-bcrypt.git",             {branch, "master"}}},
    {cf, "",
        {git, "git://github.com/project-fifo/cf.git",                 {branch, "master"}}},
    {chef_authn, ".*",
        {git, "git://github.com/chef/chef_authn.git",                 {branch, "master"}}},
    {chef_secrets, ".*",
        {git, "git://github.com/chef/chef_secrets.git",               {branch, "master"}}},
    {darklaunch, ".*",
        {git, "git://github.com/chef/opscode-darklaunch-erlang.git",  {branch, "master"}}},
    {edown, ".*",
        {git, "git://github.com/uwiger/edown.git",                    {branch, "master"}}},
    {efast_xs, ".*",
        {git, "git://github.com/chef/efast_xs.git",                   {branch, "master"}}},
    {ej, ".*",
        {git, "git://github.com/chef/ej.git",                         {branch, "lbaker/fixes-for-erlang19"}}},
    {envy, ".*",
        {git, "git://github.com/markan/envy.git",                     {branch, "master"}}},
    {eper, ".*",
        {git, "git://github.com/massemanet/eper.git",                 {branch, "master"}}},
    {erlcloud, ".*",
        {git, "git://github.com/lbakerchef/erlcloud.git",              {branch, "lbaker/presigned"}}},
    {erlware_commons, ".*",
        {git, "https://github.com/chef/erlware_commons.git",          {branch, "lbaker/fix_for_ftmap"}}},
    {folsom, ".*",
        {git, "git://github.com/boundary/folsom.git",                 {tag, "0.8.2"}}},
    {folsom_graphite, ".*",
        {git, "git://github.com/chef/folsom_graphite.git",            {branch, "master"}}},
    {gen_bunny, ".*",
        {git, "git://github.com/seth/gen_bunny.git",                  {branch, "master"}}},
    {ibrowse, ".*",
        {git, "git://github.com/chef/ibrowse.git",                    {branch, "ma/revert_ipv6"}}},
     %% latest version of jiffy i could find that doesn't
     %% break oc_erchef_unit and oc_bifrost on master verify
     %% pipeline.  could also try the two commits directly
     %% after this SHA
    {jiffy, ".*",
        {git, "https://github.com/davisp/jiffy.git",                  {ref, "051a74338c089c39f09532188bc82cf1adedbdc8"}}},
    {mini_s3, ".*",
        {git, "git://github.com/chef/mini_s3.git",                    {branch, "lbaker/presigned-headers"}}},
    {mixer, ".*",
        {git, "git://github.com/chef/mixer.git",                      {tag, "0.1.1"}}},
    {mochiweb, ".*",
        {git, "git://github.com/mochi/mochiweb.git",                  {branch, "master"}}},
    {neotoma, ".*",
        {git, "git://github.com/seancribbs/neotoma.git",              {tag,    "1.7.2"}}},
    {observer_cli, ".*",
        {git, "git://github.com/zhongwencool/observer_cli.git",       {branch, "master"}}},
    {opscoderl_folsom, ".*",
        {git, "git://github.com/chef/opscoderl_folsom.git",           {branch, "master"}}},
    {opscoderl_httpc, ".*",
        {git, "git://github.com/chef/opscoderl_httpc.git",            {branch, "master"}}},
    {opscoderl_wm, ".*",
        {git, "git://github.com/chef/opscoderl_wm.git",               {branch, "master"}}},
    {pooler, ".*",
        {git, "git://github.com/seth/pooler.git",                     {branch, "master"}}},
    {prometheus, ".*",
        {git, "git://github.com/deadtrickster/prometheus.erl.git",    {tag, "v4.6.0"}}},
    {sqerl, ".*",
        {git, "git://github.com/chef/sqerl.git",                      {branch, "master"}}},
    {stats_hero, ".*",
        {git, "git://github.com/chef/stats_hero.git",                 {branch, "master"}}},
    {sync, ".*",
        {git, "git://github.com/rustyio/sync.git",                    {branch, "master"}}},
    {uuid, ".*",
        {git, "git://github.com/okeuday/uuid.git",                    {tag, "v1.6.0"}}}
]}.

{cover_enabled, true}.
{cover_print_enabled, true}.
{eunit_opts, [verbose]}.

{erl_opts, [
            {d, 'OC_CHEF'},
            {d, 'CHEF_DB_DARKLAUNCH', xdarklaunch_req},
            {d, 'CHEF_WM_DARKLAUNCH', xdarklaunch_req},
            {parse_transform, lager_transform},
                warnings_as_errors,
                debug_info,
            {platform_define, "^[0-9]+", namespaced_types},
            {i, "include"},
            {i, "../../../include"}
           ]}.

{ct_opts, [
    {dir, [
           "apps/chef_db/itest",
           "apps/oc_chef_authz/itest",
           "apps/oc_chef_wm/itest"
          ]}]}.

{overrides, [
    {override, jiffy, [
        {plugins, [{pc, "1.8.0"}]}, % Locked to avoid fallout related to: https://github.com/blt/port_compiler/issues/43
        {provider_hooks, [
                {post, [
                    {compile, {pc, compile}},
                    {clean, {pc, clean}}
                ]}
        ]}
    ]}
]}.


{plugins, [
            {pc, "1.8.0"}, % Locked to avoid fallout related to: https://github.com/blt/port_compiler/issues/43
            rebar3_neotoma_plugin
            ]}.

{profiles, [
    {test, [
        {deps, [
            meck,
            {automeck,
                {git, "git://github.com/chef/automeck", {branch, "master"}}},
            %% NOTE: PROPER IS GPL V3, IT MUST REMAIN A TEST ONLY DEP. (Unpin once we're on R19, as proper now requires a recent erlang)
            {proper, {git, "git://github.com/manopapad/proper.git", {ref, "cb73e68ad5b46ec11b0accc5c724647556a276a0"}}}
               ]},
        {erl_opts, [export_all]}
       ]},
    {dev, [
        {relx, [{dev_mode, true},
                {include_src, true}
               ]}
    ]}
]}.

{pre_hooks, [
    {clean, "make bundle_clean version_clean"},
    {compile, "make bundle VERSION"}
]}.

{dialyzer,[
    {plt_location, "_dialyzer_cache/"},
    {plt_extra_apps, [
        webmachine,
        common_test,
        ssl,
        eunit
    ]}
]}.

{relx, [
    {release,{oc_erchef,{cmd,"cat VERSION"}}, [
        chef_secrets,
        oc_erchef,
        {sync, load},
        {eunit, load},
        {mixer, load},
        syntax_tools,
        compiler,
        eper,
        observer_cli,
        efast_xs
    ]},

    {include_erts, false},
    {include_src, false},
    {extended_start_script,true},
    {overlay_vars,"config/vars.config"},
    {overlay,[{mkdir,"log/sasl"},
              {mkdir,"lib/patches"},
              {mkdir,"etc/keys"},
              {copy,"schema","."},
              {copy,"priv/reindex-opc-organization",
                    "bin/reindex-opc-organization"},
              {template,"config/app.config","sys.config"}]}
]}.
