%% -*- mode: erlang -*-
%% -*- tab-width: 4;erlang-indent-level: 4;indent-tabs-mode: nil -*-
%% ex: ts=4 sw=4 ft=erlang et

{deps,
    [
    %% lager has to come first since we use its parse transform
    {lager, ".*",
        {git, "git://github.com/erlang-lager/lager.git",                {branch, "master"}}},
    {opscoderl_httpc, ".*",
        {git, "git://github.com/chef/opscoderl_httpc.git",              {branch, "master"}}},
    {pooler, ".*",
        {git, "git://github.com/seth/pooler.git",                       {branch, "master"}}}
    ]
}.

{profiles, [{
    test, [
        {deps, [meck]},
        {erl_opts, [export_all]}
    ]
}]}.

{erl_opts, [
    warnings_as_errors,
    {parse_transform, lager_transform},
    debug_info
]}.

{deps, [
    {lager, ".*",           {git, "git://github.com/basho/lager.git",          {branch, "master"}}},
    {opscoderl_httpc, ".*", {git, "git://github.com/chef/opscoderl_httpc.git", {branch, "master"}}},
    {pooler, ".*",          {git, "git://github.com/seth/pooler.git",          {branch, "master"}}}
]}.

{cover_enabled, true}.
