%% -*- mode: erlang -*-
%% -*- tab-width: 4;erlang-indent-level: 4;indent-tabs-mode: nil -*-
%% ex: ts=4 sw=4 ft=erlang et
{profiles, [{
    test, [
        {deps, [meck]},
        {erl_opts, [export_all]}
    ]
}]}.

{erl_opts, [
    warnings_as_errors,
    {parse_transform, lager_transform},
    debug_info
]}.

{deps, [
    {lager, ".*", {git, "https://github.com/basho/lager", {tag, "2.1.1"}}},
    {opscoderl_httpc, ".*", {git, "https://github.com/chef/opscoderl_httpc", {branch, "master"}}},
    {pooler, ".*", {git,"git://github.com/seth/pooler.git", {branch,"master"}}}
]}.

{cover_enabled, true}.
