{mock, [{sqerl,select,
         [{[find_by_username_for_authn,
            ["alice"],
            {first_as_record,
             [chef_user,[id,authz_id,username,pubkey_version,public_key]]}],
           {ok,{chef_user,<<"a1">>,<<"b2">>,<<"alice">>,1,
                <<"abcdef1234567890">>}}}
         ]}
       ]}.
