{mock,[{couchbeam,db_request,
                  [{[get,
                     "http://localhost:5984/chef_850b1974960a41c8b0fcc0c8a3b8310a/_design/Mixlib::Authorization::Models::Container-f6aead5acfa18f649f9f951ad5570324/_view/by_containername?key=%22nodes%22&limit=1",
                     ["200"],
                     [],[],[]],
                    {ok,"200",
                        [{"Transfer-Encoding","chunked"},
                         {"Server","CouchDB/1.1.0 (Erlang OTP/R14B03)"},
                         {"Etag","\"7UMXCOH1CV6A2E9M32LJX4RO2\""},
                         {"Date","Fri, 16 Sep 2011 01:12:26 GMT"},
                         {"Content-Type","application/json"},
                         {"Cache-Control","must-revalidate"}],
                        <<"{\"total_rows\":12,\"offset\":6,\"rows\":[\r\n{\"id\":\"f8214110fab5245be0d8becf4f5dd119\",\"key\":\"nodes\",\"value\":null}\r\n]}\n">>}},
                   {[get,
                     "http://localhost:5984/opscode_account/_design/Mixlib::Authorization::Models::Organization-eed4ffc4a127815b935ff840706c19de/_view/by_name?key=%22clownco%22&limit=1",
                     ["200"],
                     [],[],[]],
                    {ok,"200",
                        [{"Transfer-Encoding","chunked"},
                         {"Server","CouchDB/1.1.0 (Erlang OTP/R14B03)"},
                         {"Etag","\"122WSRIQ5O589AJDCTAA9Z7EY\""},
                         {"Date","Fri, 16 Sep 2011 01:12:26 GMT"},
                         {"Content-Type","application/json"},
                         {"Cache-Control","must-revalidate"}],
                        <<"{\"total_rows\":4,\"offset\":0,\"rows\":[\r\n{\"id\":\"776e9e559af0aa0c77ae8df7c62da9b4\",\"key\":\"clownco\",\"value\":null}\r\n]}\n">>}}]},
       {couchbeam,make_url,
                  [{[{server,"localhost",5984,[],[]},
                     [["chef_850b1974960a41c8b0fcc0c8a3b8310a"],
                      "/_design/",
                      "Mixlib::Authorization::Models::Container-f6aead5acfa18f649f9f951ad5570324",
                      "/_view/","by_containername"],
                     [{"limit",1},{"key",<<"nodes">>}]],
                    "http://localhost:5984/chef_850b1974960a41c8b0fcc0c8a3b8310a/_design/Mixlib::Authorization::Models::Container-f6aead5acfa18f649f9f951ad5570324/_view/by_containername?key=%22nodes%22&limit=1"},
                   {[{server,"localhost",5984,[],[]},
                     [["opscode_account"],
                      "/_design/",
                      "Mixlib::Authorization::Models::Organization-eed4ffc4a127815b935ff840706c19de",
                      "/_view/","by_name"],
                     [{"limit",1},{"key",<<"clownco">>}]],
                    "http://localhost:5984/opscode_account/_design/Mixlib::Authorization::Models::Organization-eed4ffc4a127815b935ff840706c19de/_view/by_name?key=%22clownco%22&limit=1"}]},
       {couchbeam,open_db,
                  [{[{server,"localhost",5984,[],[]},"opscode_account",[]],
                    {ok,{db,{server,"localhost",5984,[],[]},
                            "opscode_account",[]}}},
                   {[{server,"localhost",5984,[],[]},
                     <<"chef_850b1974960a41c8b0fcc0c8a3b8310a">>,[]],
                    {ok,{db,{server,"localhost",5984,[],[]},
                            "chef_850b1974960a41c8b0fcc0c8a3b8310a",[]}}}]},
       {couchbeam,open_doc,
                  [{[{db,{server,"localhost",5984,[],[]},
                         "chef_850b1974960a41c8b0fcc0c8a3b8310a",[]},
                     <<"f8214110fab5245be0d8becf4f5dd119">>],
                    {ok,{[{<<"_id">>,<<"f8214110fab5245be0d8becf4f5dd119">>},
                          {<<"_rev">>,
                           <<"1-61922fa3fcfae92e3f0637243c9252bd">>},
                          {<<"containername">>,<<"nodes">>},
                          {<<"couchrest-type">>,
                           <<"Mixlib::Authorization::Models::Container">>},
                          {<<"containerpath">>,<<"nodes">>},
                          {<<"requester_id">>,
                           <<"776e9e559af0aa0c77ae8df7c6dd883f">>}]}}},
                   {[{db,{server,"localhost",5984,[],[]},"opscode_account",[]},
                     <<"776e9e559af0aa0c77ae8df7c62da9b4">>],
                    {ok,{[{<<"_id">>,<<"776e9e559af0aa0c77ae8df7c62da9b4">>},
                          {<<"_rev">>,
                           <<"2-8550f2fa726df7193a17da0168823d25">>},
                          {<<"name">>,<<"clownco">>},
                          {<<"org_type">>,<<"Business">>},
                          {<<"chargify_customer_id">>,859569},
                          {<<"chargify_subscription_id">>,860116},
                          {<<"guid">>,<<"850b1974960a41c8b0fcc0c8a3b8310a">>},
                          {<<"billing_plan">>,<<"platform-free">>},
                          {<<"clientname">>,<<"clownco-validator">>},
                          {<<"couchrest-type">>,
                           <<"Mixlib::Authorization::Models::Organization">>},
                          {<<"full_name">>,<<"Clownco, Inc.">>},
                          {<<"requester_id">>,
                           <<"776e9e559af0aa0c77ae8df7c6dd883f">>}]}}}]},
       {couchbeam,server_connection,
                  [{["localhost",5984,[],[]],
                    {server,"localhost",5984,[],[]}}]},
       {couchbeam,view,
                  [{[{db,{server,"localhost",5984,[],[]},
                         "chef_850b1974960a41c8b0fcc0c8a3b8310a",[]},
                     {"Mixlib::Authorization::Models::Container-f6aead5acfa18f649f9f951ad5570324",
                      "by_containername"},
                     [{key,<<"nodes">>}]],
                    {ok,{view,{db,{server,"localhost",5984,[],[]},
                                  "chef_850b1974960a41c8b0fcc0c8a3b8310a",[]},
                              {"Mixlib::Authorization::Models::Container-f6aead5acfa18f649f9f951ad5570324",
                               "by_containername"},
                              [{"key",<<"nodes">>}],
                              get,[],[],
                              [["chef_850b1974960a41c8b0fcc0c8a3b8310a"],
                               "/_design/",
                               "Mixlib::Authorization::Models::Container-f6aead5acfa18f649f9f951ad5570324",
                               "/_view/","by_containername"],
                              "http://localhost:5984/chef_850b1974960a41c8b0fcc0c8a3b8310a/_design/Mixlib::Authorization::Models::Container-f6aead5acfa18f649f9f951ad5570324/_view/by_containername?key=%22nodes%22"}}},
                   {[{db,{server,"localhost",5984,[],[]},"opscode_account",[]},
                     {"Mixlib::Authorization::Models::Organization-eed4ffc4a127815b935ff840706c19de",
                      "by_name"},
                     [{key,<<"clownco">>}]],
                    {ok,{view,{db,{server,"localhost",5984,[],[]},
                                  "opscode_account",[]},
                              {"Mixlib::Authorization::Models::Organization-eed4ffc4a127815b935ff840706c19de",
                               "by_name"},
                              [{"key",<<"clownco">>}],
                              get,[],[],
                              [["opscode_account"],
                               "/_design/",
                               "Mixlib::Authorization::Models::Organization-eed4ffc4a127815b935ff840706c19de",
                               "/_view/","by_name"],
                              "http://localhost:5984/opscode_account/_design/Mixlib::Authorization::Models::Organization-eed4ffc4a127815b935ff840706c19de/_view/by_name?key=%22clownco%22"}}}]}]}.
