{mock, [{sqerl,select,
         [{[bulk_get_nodes_1,["n1"],rows_as_scalars,[serialized_object]],
           {ok,[<<"node1-serialization">>]}},
          {[bulk_get_nodes_2,["n1","n2"],rows_as_scalars,[serialized_object]],
           {ok,[<<"node1-serialization">>,<<"node2-serialization">>]}},
          {[bulk_get_nodes_3,
            ["n1","n2","n3"],
            rows_as_scalars,
            [serialized_object]],
           {ok,[<<"node1-serialization">>,<<"node2-serialization">>,<<"node3-serialization">>]}},
          {[bulk_get_nodes_4,
            ["n1","n2","n3","not_there"],
            rows_as_scalars,
            [serialized_object]],
           {ok,[<<"node1-serialization">>,<<"node2-serialization">>,<<"node3-serialization">>]}},
          {[bulk_get_nodes_5,
            ["n1","n2","n3","not_there","nope"],
            rows_as_scalars,
            [serialized_object]],
           {ok,[<<"node1-serialization">>,<<"node2-serialization">>, <<"node3-serialization">>]}}]}]}.
