{mock,[{chef_otto,fetch_org_id,
                  [{[{server,"localhost",5984,[],[]},<<"clownco">>],
                    <<"0aa7c5c35fbb4f1890c0a673511137af">>}]},
       {sqerl,select,
              [{[find_node_by_orgid_name,
                 [<<"0aa7c5c35fbb4f1890c0a673511137af">>,"i-cleanup"],
                 {first_as_record,[chef_node,
                                   [id,authz_id,org_id,name,environment,
                                    last_updated_by,created_at,updated_at,
                                    serialized_object]]}],
                {ok,none}}]}]}.
