{mock, [{sqerl,select,
         [{[list_env_nodes_for_org,
            ["clownco","_default"],
            rows_as_scalars,
            [name]],
           {ok,[<<"clownco-test-node">>,<<"clownco-test-node2">>]}},
          {[list_env_nodes_for_org,["clownco","fake"],rows_as_scalars,[name]],
           {ok,none}},
          {[list_env_nodes_for_org,
            ["clownco","prod"],
            rows_as_scalars,
            [name]],
           {ok,[<<"clownco-test-node3">>]}},
          {[list_env_nodes_for_org,
            ["skynet","_default"],
            rows_as_scalars,
            [name]],
           {ok,none}}]}]}.
