{mock,[{chef_otto,fetch_org_id,
                  [{[{server,"localhost",5984,[],[]},<<"clownco">>],
                    <<"0aa7c5c35fbb4f1890c0a673511137af">>}]},
       {sqerl,select,
              [{[list_nodes_for_org,
                 [<<"0aa7c5c35fbb4f1890c0a673511137af">>],
                 rows_as_scalars,
                 [name]],
                {ok,none}}]}]}.
