{deps, [{efast_xs, ".*",
         {git, "https://github.com/chef/efast_xs", {branch, "master"}}}
       ]}.

{plugins, [pc,
           rebar3_neotoma_plugin
          ]}.

{provider_hooks, [
                  {pre, [
                         {compile, {neotoma, compile}}
                        ]
                  }]}.
