{plugins, [pc,
           {rebar3_neotoma_plugin, ".*",
              {git, "https://github.com/tsloughter/rebar3_neotoma_plugin", {branch, "master"}}}
          ]}.
{port_specs, [{"priv/fast_xs.so", ["c_src/*.c"]}]}.
{provider_hooks, [
                  {pre, [
                         {compile, {neotoma, compile}},
                         {compile, {pc, compile}},
                         {clean, {pc, clean}}
                        ]
                  }]}.
