# The URL is the only Solr config Opscode Expander needs #
solr_url        "http://localhost:8983"

max_retries 1
retry_wait 1

# Parameters for connecting to RabbitMQ
amqp_host   'localhost'
amqp_port   5672
amqp_user 'chef'
amqp_pass 'testing'
amqp_vhost '/chef'
