<div class="medium-12 columns">
  <h3>Change Your Password</h3>
    <form data-abide>
      <div>
        <label>Current Password
          <input type="text" required />
        </label>
        <small class="error">Required</small>
      </div>
      <div>
        <label>New Password
          <input type="text" required />
        </label>
        <small class="error">Required</small>
      </div>
      <div>
        <label>Confirm Password
          <input type="text" required />
        </label>
        <small class="error">Required</small>
      </div>
      <div>
        <button type="submit" class="button">Change Password</button>
      </div>
    </form>
</div>
