<h3>Reset Your Private Key</h3>
<p>If you've lost your private key, or would like to replace it, click the button below to download one now.</p>
<p>
  When you do this,
  <strong>your old key will stop working.</strong>
  This key replaces your current key.
  We do not store a copy of this key, so please keep it somewhere safe.
</p>

<%= form_tag(regen_key_profile_path, :method => :post) do %>
  <%= submit_tag "Get a New Key", :class => "button" %>
<% end %>
