<h3>Profile</h3>
  <form data-abide>
    <div class="row">
      <div class="medium-12 columns">
        <label>First Name
          <input type="text" required />
        </label>
        <small class="error">Required</small>
      </div>
    </div>
    <div class="row">
      <div class="medium-12 columns">
        <label>Middle Name
          <input type="text" required />
        </label>
      </div>
    </div>
    <div class="row">
      <div class="medium-12 columns">
        <label>Last Name
          <input type="text" required />
        </label>
        <small class="error">Required</small>
      </div>
    </div>
    <div class="row">
      <div class="medium-12 columns">
        <label>Email Address
          <input type="text" required />
        </label>
        <small class="error">Required</small>
      </div>
    </div>
    <div class="row">
      <div class="medium-12 columns">
        <button type="submit" class="button">Save Changes</button>
      </div>
    </div>
  </form>
