{sys,[{lib_dirs,["../deps","../apps"]},
      {rel,"oc_bifrost","1.1.2",
           [kernel,stdlib,sasl,crypto,eper,jiffy,ej,lager,epgsql,sqerl,
            webmachine,bifrost]},
      {rel,"start_clean",[],[kernel,stdlib]},
      {boot_rel,"oc_bifrost"},
      {profile,embedded},
      {excl_sys_filters,["^bin/.*","^erts.*/bin/(dialyzer|typer)"]},
      {excl_archive_filters,[".*"]},
      {app,eper,[{incl_cond,include}]},
      {app,jiffy,[{incl_cond,include}]},
      {app,ej,[{incl_cond,include}]},
      {app,lager,[{incl_cond,include}]},
      {app,sasl,[{incl_cond,include}]},
      {app,epgsql,[{incl_cond,include}]},
      {app,sqerl,[{incl_cond,include}]},
      {app,bifrost,[{incl_cond,include}]}]}.
{target_dir,"oc_bifrost"}.

