{sys,[{lib_dirs,["../deps","apps"]},
      {erts,[{mod_cond,derived},{app_file,strip}]},
      {app_file,strip},
      {rel,"bookshelf","0.2.9",
           [kernel,stdlib,sasl,crypto,public_key,ssl,inets,erlsom,mochiweb,
            webmachine,xmerl,ibrowse,lager,mini_s3,bookshelf,opscoderl_wm]},
      {rel,"start_clean",[],[kernel,stdlib]},
      {boot_rel,"bookshelf"},
      {profile,embedded},
      {incl_cond,exclude},
      {excl_archive_filters,[".*"]},
      {excl_sys_filters,["^bin/.*","^erts.*/bin/(dialyzer|typer)",
                         "^erts.*/(doc|info|include|lib|man|src)"]},
      {excl_app_filters,[".gitignore"]},
      {app,compiler,[{incl_cond,include}]},
      {app,syntax_tools,[{incl_cond,include}]},
      {app,goldrush,[{incl_cond,include}]},
      {app,lager,[{incl_cond,include}]},
      {app,bookshelf,[{incl_cond,include}]},
      {app,webmachine,[{incl_cond,include}]},
      {app,ibrowse,[{incl_cond,include}]},
      {app,mochiweb,[{incl_cond,include}]},
      {app,crypto,[{incl_cond,include}]},
      {app,erlsom,[{incl_cond,include}]},
      {app,inets,[{incl_cond,include}]},
      {app,iso8601,[{incl_cond,include}]},
      {app,kernel,[{incl_cond,include}]},
      {app,public_key,[{incl_cond,include}]},
      {app,xmerl,[{incl_cond,include}]},
      {app,sasl,[{incl_cond,include}]},
      {app,ssl,[{incl_cond,include}]},
      {app,stdlib,[{incl_cond,include}]},
      {app,mini_s3,[{incl_cond,include}]},
      {app,opscoderl_wm,[{incl_cond,include}]},
      {app,eper,[{incl_cond,include}]}]}.
{target_dir,"bookshelf"}.
{overlay,[{mkdir,"log/sasl"},
          {mkdir,"etc"},
          {copy,"files/erl","{{erts_vsn}}/bin/erl"},
          {copy,"files/nodetool","{{erts_vsn}}/bin/nodetool"},
          {copy,"files/bookshelf","bin/bookshelf"},
          {copy,"files/app.config","etc/app.config"},
          {copy,"files/bookshelf.cmd","bin/bookshelf.cmd"},
          {copy,"files/start_erl.cmd","bin/start_erl.cmd"},
          {copy,"files/vm.args","etc/vm.args"}]}.

