%% -*- mode: erlang;erlang-indent-level: 4;indent-tabs-mode: nil -*-
%% ex: ts=4 sw=4 ft=erlang et

{couchdb_server, "localhost"}.
{couchdb_port, 8484}.
{couchdb_max_conn, 50}.
{chef_rest_ip, "127.0.0.1"}.
{chef_rest_port, 4001}.
{estatsd_server, "127.0.0.1"}.
{estatsd_port, 5665}.
{bulk_fetch_batch_size, 5}.
{solr_url, "http://localhost:8983/solr"}.

%% AMQP Connection info
{rabbitmq_host, "127.0.0.1"}.
{rabbitmq_port, 5672}.
{rabbitmq_user, "chef"}.
{rabbitmq_password, "testing"}.
{rabbitmq_vhost, "/chef"}.
%% Default exchange
{rabbitmq_exchange, ""}.

{mysql_host, "localhost"}.
{mysql_port, 3306}.
{mysql_user, "dev"}.
{mysql_pass, "opensesame"}.
{mysql_db_name, "opscode_chef"}.
{mysql_pool_size, 5}.

{authz_root_url, "http://localhost:5959"}.

{sql_users, true}.

{darklaunch_config, "/etc/opscode/dark_launch_features.json"}.
{darklaunch_reload_time, 10000}.

{max_cache_size, 10000}.
%% 1 hour (in seconds)
{cache_ttl, 3600}.

%% redis used for tracking in-flight requests
{redis_host, "localhost"}.
{redis_port, 6380}.
{redis_db, 5}.

%% When dry_run is true, mover does not actually contact darklaunch or
%% nginx_control.  While mover will still write to MySQL, the
%% operation is non-binding since no orgs are put in read-only mode
%% nor rerouted to erchef+MySQL.
{dry_run, true}.

%% these are hard-coded in app.config change them as you like for
%% testing.  For preprod and prod migration, they get rendered via
%% cookbook directly to

%% {nginx_control_urls, ["http://nginx_host1/a",
%%                       "http://nginx_host2/a"]}.

%% {darklaunch_urls, ["http://darklaunch1",
%%                    "http://darklaunch2"]}.
{preload_org_count, 15}.
