{couchdb_server, "localhost"}.
{couchdb_port, 5984}.
{couchdb_max_conn, 50}.
{chef_rest_ip, "127.0.0.1"}.
{chef_rest_port, 4001}.
{estatsd_server, "127.0.0.1"}.
{estatsd_port, 5665}.
{bulk_fetch_batch_size, 5}.
{solr_url, "http://localhost:8983/solr"}.

%% AMQP Connection info
{rabbitmq_host, "127.0.0.1"}.
{rabbitmq_port, 5672}.
{rabbitmq_user, "chef"}.
{rabbitmq_password, "whoknows"}.
{rabbitmq_vhost, "/chef"}.

{mysql_host, "localhost"}.
{mysql_port, 3306}.
{mysql_user, "dev"}.
{mysql_pass, "opensesame"}.
{mysql_db_name, "opscode_chef"}.
{mysql_pool_size, 5}.

{sql_users, true}.

{darklaunch_config, "/etc/opscode/dark_launch_features.json"}.
{darklaunch_reload_time, 10000}.

{max_cache_size, 10000}.
%% 1 hour (in seconds)
{cache_ttl, 3600}.

%% SQL statement fields
{node_fields, " `id`, `authz_id`, `org_id`, `name`, `environment`, `last_updated_by`, "
              "`created_at`, `updated_at`, `serialized_object` "}.

