%% -*- mode:erlang, erlang-indent-level: 4;indent-tabs-mode: nil -*-
{ping, <<"SELECT 'pong' AS ping LIMIT 1">>}.

{insert_actor,
 <<"INSERT INTO auth_actor(authz_id)
    VALUES ($1)">>}.

{insert_container,
 <<"INSERT INTO container(authz_id)
    VALUES ($1)">>}.

{insert_group,
 <<"INSERT INTO auth_group(authz_id)
    VALUES ($1)">>}.

{insert_object,
 <<"INSERT INTO auth_object(authz_id)
    VALUES ($1)">>}.

{delete_actor_by_authz_id,
 <<"DELETE FROM auth_actor
    WHERE authz_id = $1">>}.

{delete_container_by_authz_id,
 <<"DELETE FROM container
    WHERE authz_id = $1">>}.

{delete_group_by_authz_id,
 <<"DELETE FROM auth_group
    WHERE authz_id = $1">>}.

{delete_object_by_authz_id,
 <<"DELETE FROM auth_object
    WHERE authz_id = $1">>}.

{actor_exists,
 <<"SELECT EXISTS(
      SELECT authz_id
      FROM auth_actor
      WHERE authz_id=$1
    ) AS exists">>}.

{group_exists,
 <<"SELECT EXISTS(
      SELECT authz_id
      FROM auth_group
      WHERE authz_id=$1
    ) AS exists">>}.

{container_exists,
 <<"SELECT EXISTS(
      SELECT authz_id
      FROM container
      WHERE authz_id=$1
    ) AS exists">>}.

{object_exists,
 <<"SELECT EXISTS(
      SELECT authz_id
      FROM auth_object
      WHERE authz_id=$1
    ) AS exists">>}.
