%% -*- mode: erlang;erlang-indent-level: 4;indent-tabs-mode: nil -*-
%% ex: ts=4 sw=4 ft=erlang et

{couchdb_server, "localhost"}.
{couchdb_port, 8484}.
{couchdb_max_conn, 50}.
{chef_rest_ip, "127.0.0.1"}.
{chef_rest_port, 4001}.
{estatsd_server, "127.0.0.1"}.
{estatsd_port, 5665}.
{udp_socket_pool_size, 5}.
{bulk_fetch_batch_size, 5}.

%% Solr
{solr_url, "http://localhost:8983/solr"}.
{solr_timeout, 30000}.
{solr_http_init_count, 25}.
{solr_http_max_count, 100}.

{ibrowse_max_sessions, 256}.
{ibrowse_max_pipeline_size, 1}.

%% AMQP Connection info
{rabbitmq_host, "127.0.0.1"}.
{rabbitmq_port, 5672}.
{rabbitmq_user, "chef"}.
{rabbitmq_password, "testing"}.
{rabbitmq_vhost, "/chef"}.
%% Default exchange
{rabbitmq_exchange, ""}.

{authz_root_url, "http://localhost:5959"}.

{keyring_default, "/etc/opscode/webui_pub.pem"}.
{keyring_dir, "/etc/opscode"}.

{sql_users, true}.

{darklaunch_config, "/etc/opscode/dark_launch_features.json"}.
{darklaunch_reload_time, 10000}.

{max_cache_size, 10000}.
%% 1 hour (in seconds)
{cache_ttl, 3600}.

%% redis used for tracking in-flight requests
{redis_host, "localhost"}.
{redis_port, 6380}.
{redis_conns, 5}.
{redis_db, 5}.

%% When dry_run is true, mover does not actually contact darklaunch or
%% nginx_control.  While mover will still write to MySQL, the
%% operation is non-binding since no orgs are put in read-only mode
%% nor rerouted to erchef+MySQL.
{dry_run, true}.

%% these are hard-coded in app.config change them as you like for
%% testing.  For preprod and prod migration, they get rendered via
%% cookbook directly to

%% {nginx_control_urls, ["http://nginx_host1/a",
%%                       "http://nginx_host2/a"]}.

%% {darklaunch_urls, ["http://darklaunch1",
%%                    "http://darklaunch2"]}.
{preload_org_count, 15}.

{db_type, mysql}.
{db_host, "localhost"}.
{db_port, 3306}.
{db_user, "dev"}.
{db_pass, "opensesame"}.
{db_name, "opscode_chef"}.
{db_pool_size, 5}.
{db_timeout, 5000}.

%% Moser config
{moser_data, ""}.
{moser_couch_data, ""}.
{purge_chunksize, 0}.
{purge_throttle, 0}.
{purge_backup, 0}.
{purge_auth, 0}.
{purge_backup_dir, ""}.
