$navbar-default-bg: #212c35;
$navbar-default-link-color: #ffffff;
$navbar-default-link-hover-color: #f5f5f5;
$navbar-border-radius: 0;
$navbar-height: inherit;
$navbar-padding-vertical: 8px;

@import "bootstrap";

header ul.navbar-right {
  color: #fff;
  font-size: 12px;
  text-transform: uppercase;
}

footer {
  margin-top: 60px;
  font-size: 12px;
  color: #ccc;
}

.btn.btn-primary {
  background: linear-gradient(#fd8340, #ee5705);
  border: solid 1px #ee5705;
}

label {
  font-weight: normal;
}

form.sign-in {
  input[type='text'], input[type='password'] {
    max-width: 260px;
  }
}