%% -*- mode: erlang -*-
%% -*- tab-width: 4;erlang-indent-level: 4;indent-tabs-mode: nil -*-
%% ex: ts=4 sw=4 ft=erlang et

{deps,
 [{webmachine, "1.8.*",
   {git, "git://github.com/basho/webmachine", "HEAD"}},
  {neotoma, ".*",
    {git, "git://github.com/seancribbs/neotoma.git", {tag, "1.4.1"}}}]}.
