%% -*- mode: erlang -*-
%% -*- tab-width: 4;erlang-indent-level: 4;indent-tabs-mode: nil -*-
%% ex: ts=4 sw=4 ft=erlang et

{deps,
 [{webmachine, "1.8.*",
   {git, "git://github.com/basho/webmachine", "HEAD"}}]}.
 %%  {chef_authn, ".*",
 %%   {git, "git://github.com/seth/chef_authn.git", "HEAD"}},
 %%  {chef_otto, ".*",
 %%   {git, "git://github.com/seth/chef_otto.git", "HEAD"}},
 %%  {ej, ".*",
 %%   {git, "git://github.com/seth/ej.git", "HEAD"}}
 %% ]}.
