%% -*- mode: erlang -*-
%% -*- tab-width: 4;erlang-indent-level: 4;indent-tabs-mode: nil -*-
%% ex: ts=4 sw=4 ft=erlang et

%% this is a work-around to allow chef_rest eunit tests to see
%% chef_common code the downside is that it causes chef_common eunit
%% tests to get run twice.  There should be some way to tell rebar
%% that chef_common is a true dep, but that it is available locally.
{sub_dirs, ["../chef_common"]}.

{deps,
 [{webmachine, "1.8.*",
   {git, "git://github.com/basho/webmachine", {tag, "webmachine-1.8.1"}}},
  {neotoma, "1.5",
   {git, "https://github.com/seancribbs/neotoma.git", "HEAD"}},
  {meck, ".*",
   {git, "git://github.com/eproxus/meck.git", "HEAD"}}
 ]}.

