{mock,[{oc_chef_authz_http,request,
                        [{["objects/64f274e17542b587ac33b011aa2df286/acl/grant",
                           get,[],[],<<"cb4dcaabd91a87675a14ec4f4a00050d">>],
                          {ok,{[{<<"actors">>,
                                 [<<"cb4dcaabd91a87675a14ec4f4a00050d">>]},
                                {<<"groups">>,[]}]}}},
                         {["objects/64f274e17542b587ac33b011aa2df286/acl/grant",
                           put,[],
                           <<"{\"actors\":[\"64f274e17542b587ac33b011aa2e3346\",\"cb4dcaabd91a87675a14ec4f4a00050d\"],\"groups\":[]}">>,
                           <<"64f274e17542b587ac33b011aa2e3346">>],
                          {error,forbidden}},
                         {[<<"actors">>,post,[],[],
                           <<"cb4dcaabd91a87675a14ec4f4a00050d">>],
                          {ok,{[{<<"id">>,
                                 <<"64f274e17542b587ac33b011aa2e3346">>},
                                {<<"uri">>,
                                 <<"http://authz.chef.io/actors/64f274e17542b587ac33b011aa2e3346">>}]}}},
                         {[<<"objects">>,post,[],[],
                           <<"cb4dcaabd91a87675a14ec4f4a00050d">>],
                          {ok,{[{<<"id">>,
                                 <<"64f274e17542b587ac33b011aa2df286">>},
                                {<<"uri">>,
                                 <<"http://authz.chef.io/objects/64f274e17542b587ac33b011aa2df286">>}]}}}]}]}.
