{mock,[{oc_chef_authz_db,fetch_container,
        [{[{context,<<"test-req-id">>,{server,"localhost",5984,[],[]}},
           <<"0aa7c5c35fbb4f1890c0a673511137af">>,<<"nodes">>],
          {chef_container,undefined,<<"123456789">>,
          <<"0aa7c5c35fbb4f1890c0a673511137af">>,undefined,undefined,undefined}}]}]}.
