{mock,[{oc_chef_authz_http,request,
                        [{["objects/64f274e17542b587ac33b011aa2d07c0/acl/grant",
                           get,[],[],<<"cb4dcaabd91a87675a14ec4f4a00050d">>],
                          {ok,{[{<<"actors">>,
                                 [<<"64f274e17542b587ac33b011aa2d46a6">>,
                                  <<"cb4dcaabd91a87675a14ec4f4a00050d">>]},
                                {<<"groups">>,[]}]}}},
                         {["objects/64f274e17542b587ac33b011aa2d07c0/acl/grant",
                           put,[],
                           <<"{\"actors\":[\"64f274e17542b587ac33b011aa2d46a6\",\"cb4dcaabd91a87675a14ec4f4a00050d\"],\"groups\":[]}">>,
                           <<"cb4dcaabd91a87675a14ec4f4a00050d">>],
                          ok},
                         {["objects/deadbeefdeadbeefdeadbeefdeadbeef/acl/grant",
                           put,[],
                           <<"{\"actors\":[\"64f274e17542b587ac33b011aa2d46a6\",\"cb4dcaabd91a87675a14ec4f4a00050d\"],\"groups\":[]}">>,
                           <<"cb4dcaabd91a87675a14ec4f4a00050d">>],
                          {error,not_found}},
                         {[<<"actors">>,post,[],[],
                           <<"cb4dcaabd91a87675a14ec4f4a00050d">>],
                          {ok,{[{<<"id">>,
                                 <<"64f274e17542b587ac33b011aa2d46a6">>},
                                {<<"uri">>,
                                 <<"http://authz.chef.io/actors/64f274e17542b587ac33b011aa2d46a6">>}]}}},
                         {[<<"objects">>,post,[],[],
                           <<"cb4dcaabd91a87675a14ec4f4a00050d">>],
                          {ok,{[{<<"id">>,
                                 <<"64f274e17542b587ac33b011aa2d07c0">>},
                                {<<"uri">>,
                                 <<"http://authz.chef.io/objects/64f274e17542b587ac33b011aa2d07c0">>}]}}}]}]}.
