%% -*- mode: erlang -*-
%% -*- tab-width: 4;erlang-indent-level: 4;indent-tabs-mode: nil -*-
%% ex: ts=4 sw=4 ft=erlang et

{deps,
 [
  %% ignore why this is pinned to this specific branch for now,
  %% and why it points to master in other locations.  this is
  %% broken right now. it's a very old speed test system based
  %% on a version of basho bench that doesn't build anymore.
  {mini_s3, ".*",
         {git, "git://github.com/chef/mini_s3.git",
          {branch, "lbaker/presigned-headers"}}}
  ]}.

%% Add dependencies that are only needed for development here. These
%% dependencies will be hidden from upstream projects using this code
%% as a dependency.
%% {dev_only_deps,
%%  [
%%   {proper, ".*", {git, "git://github.com/manopapad/proper.git", "master"}}
%%  ]}.

{cover_enabled, true}.
