%% -*- mode: erlang -*-
%% -*- tab-width: 4;erlang-indent-level: 4;indent-tabs-mode: nil -*-
%% ex: ts=4 sw=4 ft=erlang et
{erl_opts, [
            warnings_as_errors,
            {parse_transform, lager_transform},
            debug_info
           ]}.
{erl_first_files, ["src/bifrost_wm.erl"]}.

{deps,
 [
  %% lager has to come first since we use its parse transform
  {lager, ".*",
   {git, "https://github.com/basho/lager.git", {tag, "2.1.1"}}},
  {eper, ".*",
   {git, "git://github.com/massemanet/eper.git", {branch, "master"}}},
  {jiffy, ".*",
   {git, "git://github.com/davisp/jiffy.git", {branch, "master"}}},
  {ej, ".*",
   {git, "git://github.com/seth/ej.git", {branch, "master"}}},
  {mixer, ".*",
   {git, "git://github.com/chef/mixer.git", {branch, "master"}}},
  {sqerl, ".*",
   {git, "git://github.com/marcparadise/sqerl.git", {branch, "mp/multipool"}}},
  {stats_hero, ".*",
   {git, "git://github.com/chef/stats_hero.git", {branch, "master"}}},
  {opscoderl_wm, ".*",
   {git, "https://github.com/chef/opscoderl_wm.git", {branch, "master"}}},
  {sync, ".*",
   {git, "https://github.com/rustyio/sync.git", {branch, "master"}}}
 ]}.
{eunit_opts,
 [verbose]}.

{cover_enabled, true}.

{profiles, [
    {dev, [
        {relx, [{dev_mode, true},
                {include_src, true}
               ]}
    ]},
    {fips, [
        {deps, [
            {crypto, {git,"git://github.com/jaym/erlang-crypto2", {branch, "master"}}}
        ]}
       ]},
    {test, [
      {deps, [
        {cth_readable,
          {git, "https://github.com/ferd/cth_readable.git", {branch, "master"}}}
      ]}
    ]}
]}.


{plugins, [{pc, "0.3.0"}]}.

