%% -*- mode: erlang -*-
%% -*- tab-width: 4;erlang-indent-level: 4;indent-tabs-mode: nil -*-
%% ex: ts=4 sw=4 ft=erlang et

%% {deps,
%%  [
%%   {a_proj, ".*",  %% use a catch all regex and peg with a tag if neded
%%     {git, "git://github.com/opscode/a_proj.git", {branch, "master"}}},
%%  ]}.

%% Add dependencies that are only needed for development here. These
%% dependencies will be hidden from upstream projects using this code
%% as a dependency.
%% {dev_only_deps,
%%  [
%%   {proper, ".*", {git, "git://github.com/manopapad/proper.git", "master"}}
%%  ]}.

%% Use edown to render a markdown version of edoc. The generated
%% markdown can be checked in and will be browsable on github. The
%% default is to add edown as a dev only dependency and to enable
%% it. You can set this to false to do your own thing.
{use_edown, true}.

{cover_enabled, true}.
