{mock,[{oc_chef_authz_http,request,
                        [{["groups/deadbeefdeadbeefdeadbeefdeadbeef/actors/64f274e17542b587ac33b011aa236df7",
                           put,[],[],<<"cb4dcaabd91a87675a14ec4f4a00050d">>],
                          {error,not_found}},
                         {[<<"actors">>,post,[],[],
                           <<"cb4dcaabd91a87675a14ec4f4a00050d">>],
                          {ok,{[{<<"id">>,
                                 <<"64f274e17542b587ac33b011aa236df7">>},
                                {<<"uri">>,
                                 <<"http://authz.chef.io/actors/64f274e17542b587ac33b011aa236df7">>}]}}}]}]}.
