{mock,[{oc_chef_authz_db,fetch_container,
        [{[{context,<<"test-req-id">>,{server,"localhost",5984,[],[]}},
           <<"0aa7c5c35fbb4f1890c0a673511137af">>,<<"nodes">>],
          {chef_container,undefined,<<"8d865247c897cb19987a0413a6d7e432">>,
          <<"8d865247c897cb19987a0413a6d7e432">>,undefined,undefined,undefined}}]},
       {oc_chef_authz_http,request,
        [{["containers/8d865247c897cb19987a0413a6d7e432/acl/create/actors/cf5d90545fbbac541225fbd9e73e4e42",
           get,[],[],<<"cf5d90545fbbac541225fbd9e73e4e42">>],
          {error,not_found}}]}]}.
