{mock,[{oc_chef_authz_http,request,
                        [{["groups/64f274e17542b587ac33b011aa218d24",delete,
                           [],[],<<"cb4dcaabd91a87675a14ec4f4a00050d">>],
                          ok},
                         {["groups/64f274e17542b587ac33b011aa218d24",delete,
                           [],[],<<"deadbeefdeadbeefdeadbeefdeadbeef">>],
                          {error,forbidden}},
                         {["groups/64f274e17542b587ac33b011aa218d24",get,[],
                           [],<<"64f274e17542b587ac33b011aa21bf73">>],
                          {error,forbidden}},
                         {["groups/64f274e17542b587ac33b011aa218d24",get,[],
                           [],<<"cb4dcaabd91a87675a14ec4f4a00050d">>],
                          {ok,{[{<<"actors">>,[]},{<<"groups">>,[]}]}}},
                         {["groups/64f274e17542b587ac33b011aa21bf73",delete,
                           [],[],<<"deadbeefdeadbeefdeadbeefdeadbeef">>],
                          {error,server_error}},
                         {["groups/64f274e17542b587ac33b011aa21bf73",get,[],
                           [],<<"cb4dcaabd91a87675a14ec4f4a00050d">>],
                          {error,server_error}},
                         {["groups/deadbeefdeadbeefdeadbeefdeadbeef",get,[],
                           [],<<"cb4dcaabd91a87675a14ec4f4a00050d">>],
                          {error,not_found}},
                         {[<<"actors">>,post,[],[],
                           <<"cb4dcaabd91a87675a14ec4f4a00050d">>],
                          {ok,{[{<<"id">>,
                                 <<"64f274e17542b587ac33b011aa21bf73">>},
                                {<<"uri">>,
                                 <<"http://authz.chef.io/actors/64f274e17542b587ac33b011aa21bf73">>}]}}},
                         {[<<"groups">>,post,[],[],
                           <<"64f274e17542b587ac33b011aa21bf73">>],
                          {ok,{[{<<"id">>,
                                 <<"64f274e17542b587ac33b011aa21ee1d">>},
                                {<<"uri">>,
                                 <<"http://authz.chef.io/groups/64f274e17542b587ac33b011aa21ee1d">>}]}}},
                         {[<<"groups">>,post,[],[],
                           <<"cb4dcaabd91a87675a14ec4f4a00050d">>],
                          {ok,{[{<<"id">>,
                                 <<"64f274e17542b587ac33b011aa218d24">>},
                                {<<"uri">>,
                                 <<"http://authz.chef.io/groups/64f274e17542b587ac33b011aa218d24">>}]}}},
                         {[<<"groups">>,post,[],[],
                           <<"deadbeefdeadbeefdeadbeefdeadbeef">>],
                          {ok,{[{<<"id">>,
                                 <<"64f274e17542b587ac33b011aa22181d">>},
                                {<<"uri">>,
                                 <<"http://authz.chef.io/groups/64f274e17542b587ac33b011aa22181d">>}]}}}]}]}.
