[ %% rules documentation: https://github.com/inaka/elvis_core/wiki/Rules
 {
   elvis,
   [
    {config,
     [
      #{dirs => ["src"],
        filter => "*.erl",
        rules => [
          {elvis_style, macro_names},
          {elvis_style, no_if_expression},
          {elvis_style, no_debug_call, #{ignore => [bksw_app]}},
          {elvis_style, no_nested_try_catch},
          {elvis_style, no_tabs},
          {elvis_style, no_trailing_whitespace},
          {elvis_style, operator_spaces},
          {elvis_style, used_ignored_variable},
          {elvis_style, variable_naming_convention}
        ]
       }
     ]
    }
   ]
 }
].
