%% -*- mode: erlang -*-
%% -*- tab-width: 4;erlang-indent-level: 4;indent-tabs-mode: nil -*-
%% ex: ts=4 sw=4 ft=erlang et

{require_otp_vsn, "22.*"}.

{erl_dep_retries, 10}.

{deps, [
    %% lager has to come first since we use its parse transform
    {lager, ".*",
        {git, "git://github.com/erlang-lager/lager.git",              {branch, "master"}}},
    {cf, "",
        {git, "git://github.com/project-fifo/cf.git",                 {branch, "master"}}},
    {chef_secrets, ".*",
        {git, "git://github.com/chef/chef_secrets.git",               {branch, "master"}}},
    {envy, ".*",
        {git, "git://github.com/markan/envy.git",                     {branch, "master"}}},
    {eper, ".*",
        {git, "git://github.com/massemanet/eper.git",                 {branch, "master"}}},
    {erlcloud, ".*",
        {git, "git://github.com/chef/erlcloud.git",                   {branch, "lbaker/presigned-headers"}}},
    {erlsom, ".*",
        {git, "git://github.com/chef/erlsom.git",                     {branch, "integer_long_string_probs2"}}},
    {erlware_commons, ".*",
        {git, "https://github.com/chef/erlware_commons.git",          {branch, "lbaker/fix_for_ftmap"}}},    
    {iso8601, ".*",
         {git, "git://github.com/erlsci/iso8601.git",                 {tag, "1.2.3"}}},
    {meck, ".*",
        {git, "git://github.com/eproxus/meck.git",                    {branch, "master"}}},
    {mini_s3, ".*",
        {git, "git://github.com/chef/mini_s3.git",                    {branch, "lbaker/presigned-headers"}}},
    {mixer, ".*",
        {git, "git://github.com/chef/mixer.git",                      {tag, "0.1.1"}}},    
    {mochiweb, ".*",
        {git, "git://github.com/mochi/mochiweb.git",                  {branch, "master"}}},
    {observer_cli, ".*",
        {git, "git://github.com/zhongwencool/observer_cli.git",       {branch, "master"}}},
    {opscoderl_wm, ".*",
        {git, "git://github.com/chef/opscoderl_wm.git",               {branch, "master"}}},
    {sqerl, ".*",
        {git, "git://github.com/chef/sqerl.git",                      {branch, "master"}}},
    {sync, ".*",
        {git, "git://github.com/rustyio/sync.git",                    {branch, "master"}}}
]}.


{erl_opts, [
    debug_info,
    {parse_transform, lager_transform},
    warnings_as_errors,
    {i, "include"}
]}.

{eunit_compile_opts, [{d,'EUNIT_TEST'}]}.

{plugins, [ {pc, "1.8.0"} ]}. % Locked to avoid fallout related to: https://github.com/blt/port_compiler/issues/43

%{xref_checks,
% [undefined_function_calls,
%  undefined_functions,
%  locals_not_used,
%  deprecated_function_calls,
%  deprecated_functions]}.
%
%{xref_queries,
% [ %% Use this instead of `exports_not_used`; we'll filter out references to
%   %% generic callbacks, generated functions, etc.
%   %%
%   %% Ideally, we want no functions to come back from this query; that means
%   %% we're using everything! Adjust regexes / remove code until this is the
%   %% case.
%   {"UU" %% Unused functions (xref builtin)
%   " - "
%   "\"bksw_app\":\"(start|stop)\"/\".*\"" %% application callbacks
%   " - "
%   "\"bksw_app\":\"remsh_welcome\"/\".*\"" %% application callbacks
%   " - "
%   "\".*_sup\":\"init\"/\"1\"" %% supervisor callbacks
%   " - "
%   "\".*\":\"start_link\"/\".*\"" %% any start_link fun
%   " - "
%   "\"bksw_cleanup_task\":\"(init|handle_call|handle_cast|handle_info|terminate|code_change)\"/\".*\"" %% gen_server generic callback funs
%   " - "
%   "\"bksw_cleanup_task\":\"(force_deleted_cleanup|force_upload_cleanup)\"/\".*\"" %% intended to be used from a remsh
%   " - "
%   "\".*_wm_.*\":\"(init|ping|is_authorized|finish_request|service_available|to_xml|resource_exists|allowed_methods|content_types_accepted|content_types_provided|generate_etag|last_modified|delete_resource)\"/\".*\"" %% (some) Webmachine callbacks
%   " - "
%   "\"(bksw_wm_sql_bucket|bksw_wm_bucket)\":\"(create_resource)\"/\".*\"" %% content_types_accepted-defined callbacks,
%   " - "
%   "\"(bksw_sql|bksw_sql)\":\"(ping|statements)\"/\".*\""
%   " - "
%   "\"(bksw_xml)\":\"(write_erl|write_hrl)\"/\".*\"" %% these look like they might be mean to run manually?
%   " - "
%   "\"(bksw_conf)\":\"(reset_dispatch)\"/\".*\"" %% used in tests
%   " - "
%   "\"(bksw_wm_sql_object|bksw_wm_object)\":\"(validate_content_checksum|upload|download)\"/\".*\"" %% content_types_accepted-defined callbacks,
%  ,[]} %% Expected results (i.e., nothing)
% ]}.

{cover_enabled, true}.

{pre_hooks, [
             {clean, "make version_clean"},
             {compile, "make VERSION"}
]}.

{profiles, [
    {dev, [
        {relx, [{dev_mode, true},
                {include_src, true}
               ]}
       ]},
    {test, [
        {deps, [
            cth_readable
        ]}
    ]}
]}.

{ct_opts, [
    {dir, "test"},
    {ct_hooks, [cth_readable_failonly, cth_readable_shell]}
]}.

{relx, [
  {release,{bookshelf,{cmd,"cat VERSION"}},
    [bookshelf,
     chef_secrets,
     {sync, load},
     {eunit, load},
     {mixer, load},
     syntax_tools,
     compiler,
     eper,
     observer_cli,
     {pooler, load},
     {sqerl, load}
  ]},

  {include_erts, false},
  {include_src, false},
  {extended_start_script,true},
  {overlay,[{template,"config/app.config","sys.config"},
            {copy,"schema","."}
           ]}
]}.
