%% -*- mode: erlang; -*-

{require_otp_vsn, "R16|17.*"}.

{erl_dep_retries, 10}.

{deps, [
        {lager,".*", {git,"git://github.com/basho/lager", {tag, "2.1.1"}}},
        {opscoderl_wm, ".*",
         {git, "git://github.com/chef/opscoderl_wm.git", {branch,"master"}}},
        {erlsom, ".*",
         {git, "git://github.com/chef/erlsom.git",
          {branch, "integer_long_string_probs"}}},
        {iso8601, ".*",
         {git, "git://github.com/chef/erlang_iso8601.git",
          {branch, "master"}}},
        {erlware_commons, ".*",
         {git, "git://github.com/erlware/erlware_commons.git",
          {tag, "v0.11.1"}}},
        {mixer, ".*",
          {git, "git://github.com/chef/mixer.git", {tag, "0.1.1"}}},
        {mini_s3, ".*",
         {git, "git://github.com/chef/mini_s3.git",
          {branch, "master"}}},
        {meck, ".*",
         {git, "https://github.com/eproxus/meck.git", {tag, "0.8.3"}}},
        {sqerl, ".*",
         {git, "git://github.com/chef/sqerl.git", {branch, "master"}}},
        {envy, ".*",
         {git, "https://github.com/manderson26/envy", {branch, "master"}}},
        {sync, ".*",
         {git, "https://github.com/rustyio/sync.git", {branch, "master"}}},
        {eper, ".*",
         {git, "git://github.com/massemanet/eper.git", {branch, "master"}}}
       ]}.


{erl_opts, [
    debug_info,
    {parse_transform, lager_transform},
    warnings_as_errors,
    {i, "include"}
]}.

{plugins, [{pc, "0.3.0"}]}.

{xref_checks,
 [exports_not_used,
  undefined_function_calls]}.

{cover_enabled, true}.

{pre_hooks, [
             {clean, "make version_clean"},
             {compile, "make VERSION"}
]}.

{profiles, [
    {dev, [
        {relx, [{dev_mode, true}]}
       ]},
    {test, [
        {deps, [
            {cth_readable,
                {git, "https://github.com/ferd/cth_readable.git", {branch, "master"}}}
        ]}
    ]}
]}.

{ct_opts, [
    {dir, "test"},
    {ct_hooks, [cth_readable_shell]}
]}.

{relx, [
  {release,{bookshelf,{cmd,"cat VERSION"}},
    [bookshelf,
     {sync, load},
     {eunit, load},
     {mixer, load},
     syntax_tools,
     compiler,
     eper,
     sqerl
  ]},
  {extended_start_script,true},
  {overlay,[{template,"config/vm.args","vm.args"},
            {template,"config/app.config","sys.config"}]}
]}.
