%% -*- mode: erlang -*-
%% -*- tab-width: 4;erlang-indent-level: 4;indent-tabs-mode: nil -*-
%% ex: ts=4 sw=4 ft=erlang et
[
 %% SASL config
 {sasl, [
         {sasl_error_logger, {file, "<%= @log_dir %>/sasl-error.log"}},
         {errlog_type, error},
         {error_logger_mf_dir, "<%= @log_dir %>/sasl"},      % Log directory
         {error_logger_mf_maxbytes, 104857600},   % 10 MB max file size
         {error_logger_mf_maxfiles, 5}           % 5 files max
        ]},
 {fast_log, [
             {loggers, [[{name, erchef},
                         {file, "<%= @log_dir %>/erchef.log"},
                         {files, 5},
                         {file_size, 50}]]}
            ]},
 {chef_rest, [
              {ip, "<%= @chef_rest_ip %>"},
              {port, <%= @chef_rest_port %>},
              {reqid_header_name, "X-Request-Id"},
              {auth_skew, <%= @auth_skew %>},
              %% currently only used by the search endpoint to bound
              %% how many nodes are deserialized at a time in
              %% preparing a response.
              {bulk_fetch_batch_size, <%= @bulk_fetch_batch_size %>},
              {estatsd_server, "<%= @estatsd_host %>"},
	          {estatsd_port, <%= @estatsd_port %>}
             ]},
 {chef_common, [
                {solr_url, "<%= @solr_url %>"},
                {couchdb_host, "<%= @couchdb_server %>"},
                {couchdb_port, <%= @couchdb_port %> },

                {cache_defaults, [{max_size, <%= @max_cache_size %> },
                                  {ttl, <%= @cache_ttl %> }]},
                {rabbitmq_host, "<%= @rabbitmq_host %>"},
                {rabbitmq_port, <%= @rabbitmq_port %> },
                {rabbitmq_user, <<"<%= @rabbitmq_user %>">>},
                {rabbitmq_password, <<"<%= @rabbitmq_password %>">>},
                {rabbitmq_vhost, <<"<%= @rabbitmq_vhost %>">>},
                {rabbitmq_exchange, <<"<%= @rabbitmq_exchange %>">>},
                {authz_root_url, "<%= @authz_root_url %>" },
		        {keyring, [{default, "<%= @keyring_default %>"}]}]},

 {sqerl,      [
                {db_type, <%= @db_type %> },
                {db_host, "<%= @db_host %>"},
		{db_port, <%= @db_port %>},
		{db_name, "<%= @db_name %>"},
		{db_user, "<%= @db_user %>"},
		{db_pass, "<%= @db_pass %>"},
                {db_pool_size, <%= @db_pool_size %> },
		{db_prepared_statements, "etc/<%= @db_type %>_statements.config"}
              ]}
].


