%% -*- mode: erlang;erlang-indent-level: 4;indent-tabs-mode: nil -*-
%% ex: ts=4 sw=4 ft=erlang et

[
 %% SASL config
 {sasl, [
         {sasl_error_logger, {file, "log/sasl-error.log"}},
         {errlog_type, error},
         {error_logger_mf_dir, "log/sasl"},      % Log directory
         {error_logger_mf_maxbytes, 10485760},   % 10 MB max file size
         {error_logger_mf_maxfiles, 5}           % 5 files max
        ]},
 {mover, [
          {redis_host, "{{redis_host}}" },
          {redis_port, {{redis_port}} },
          {redis_db, {{redis_db}} }
         ]},
 {chef_common, [
                {solr_url, "{{solr_url}}" },
                {couchdb_host, "{{couchdb_server}}"},
                {couchdb_port, {{couchdb_port}} },

                {mysql_host, "{{mysql_host}}" },
                {mysql_port, {{mysql_port}} },
                {mysql_user, "{{mysql_user}}" },
                {mysql_pass, "{{mysql_pass}}" },
                {mysql_db_name, "{{mysql_db_name}}" },
                {mysql_pool_size, {{mysql_pool_size}} },
                {dark_launch_sql_users, {{sql_users}} },
                {cache_defaults, [{max_size, {{max_cache_size}} },
                                  {ttl, {{cache_ttl}} }]},
                 {rabbitmq_host, "{{rabbitmq_host}}"},
                 {rabbitmq_port, {{rabbitmq_port}} },
                 {rabbitmq_user, <<"{{rabbitmq_user}}">>},
                 {rabbitmq_password, <<"{{rabbitmq_password}}">>},
                 {rabbitmq_vhost, <<"{{rabbitmq_vhost}}">>},
                 {rabbitmq_exchange, <<"{{rabbitmq_exchange}}">>},
                {authz_root_url, "{{authz_root_url}}" }
               ]},
 {darklaunch, [
               {config, "{{darklaunch_config}}" },
               {reload_time, {{darklaunch_reload_time}} }
              ]}
].
