%% -*- mode: erlang;erlang-indent-level: 4;indent-tabs-mode: nil -*-
%% ex: ts=4 sw=4 ft=erlang et

[
 %% SASL config
 {sasl, [
         {sasl_error_logger, {file, "log/sasl-error.log"}},
         {errlog_type, error},
         {error_logger_mf_dir, "log/sasl"},      % Log directory
         {error_logger_mf_maxbytes, 10485760},   % 10 MB max file size
         {error_logger_mf_maxfiles, 5}           % 5 files max
        ]},

 {fast_log, [
             {loggers, [[{name, mover_manager_log},
                         {file, "log/mover_manager.log"},
                         {files, 5},
                         {file_size, 50}],
                        [{name, mover_worker_log},
                         {file, "log/mover_worker.log"},
                         {files, 5},
                         {file_size, 50}],
                        [{name, node_errors},
                         {file, "log/node_errors.log"},
                         {files, 5},
                         {file_size, 50}]
                       ]}
            ]},

 {mover, [
          {redis_host, "{{redis_host}}" },
          {redis_port, {{redis_port}} },
          {redis_db, {{redis_db}} },
          {redis_conns, {{redis_conns}} },

          {dry_run, {{dry_run}} },
          {preload_org_count, {{preload_org_count}} },

          {nginx_control_urls, ["http://nginx_host1/a",
                                "http://nginx_host2/a"]},

          {darklaunch_urls, ["http://darklaunch1",
                             "http://darklaunch2"] }
         ]},

 {stats_hero, [
               {udp_socket_pool_size, {{udp_socket_pool_size}} },
               {estatsd_host, "{{estatsd_server}}" },
               {estatsd_port, {{estatsd_port}} }
              ]},

 {chef_common, [
                {solr_url, "{{solr_url}}" },
                {couchdb_host, "{{couchdb_server}}"},
                {couchdb_port, {{couchdb_port}} },
                {dark_launch_sql_users, {{sql_users}} },
                {cache_defaults, [{max_size, {{max_cache_size}} },
                                  {ttl, {{cache_ttl}} }]},
                {rabbitmq_host, "{{rabbitmq_host}}"},
                {rabbitmq_port, {{rabbitmq_port}} },
                {rabbitmq_user, <<"{{rabbitmq_user}}">>},
                {rabbitmq_password, <<"{{rabbitmq_password}}">>},
                {rabbitmq_vhost, <<"{{rabbitmq_vhost}}">>},
                {rabbitmq_exchange, <<"{{rabbitmq_exchange}}">>},

                {authz_root_url, "{{authz_root_url}}" },
                {keyring, [{default, "{{keyring_default}}"}]},
                {keyring_dir, "{{keyring_dir}}"}
               ]},
 {sqerl, [
          %% The database system you are using (e.g., mysql, pgsql)
          {db_type, {{db_type}} },

          %% Database connection parameters
          {db_host, "{{db_host}}" },
          {db_port, {{db_port}} },
          {db_user, "{{db_user}}" },
          {db_pass, "{{db_pass}}" },
          {db_name, "{{db_name}}" },

          {prepared_statements, {chef_sql, statements, [ {{db_type}} ]} },
          %% what's this?
          {column_transforms, undefined}
         ]},

 {pooler, [
           {pools, [[{name, "sqerl"},
                     {max_count, {{db_pool_size}} },
                     {init_count, {{db_pool_size}} },
                     {start_mfa, {sqerl_client, start_link, []}}]]},
           {metrics_module, folsom_metrics}
          ]},

 {darklaunch, [
               {config, "{{darklaunch_config}}" },
               {reload_time, {{darklaunch_reload_time}} }
              ]}
].
