{find_by_username_for_authn,
 <<"SELECT `id`, `authz_id`, `username`, `pubkey_version`, `public_key` FROM `users` WHERE "
   "(`username` = ?) LIMIT 1">>}.

{find_node_by_orgid_name,
 <<"SELECT " "{{node_fields}}" " FROM `nodes` WHERE (`org_id` = ? AND `name` = ?) "
   "LIMIT 1">>}.

{insert_node,
 <<"INSERT INTO `nodes` (" "{{node_fields}}" ") VALUES "
   "(?, ?, ?, ?, ?, ?, ?, ?, ?)">>}.

{update_node_by_id,
 <<"UPDATE `nodes` SET `environment`= ?, `last_updated_by`= ?, `updated_at`= ?, "
   "`serialized_object`= ? WHERE `id`= ?">>}.

{delete_node_by_id, <<"DELETE FROM `nodes` WHERE `id`= ?">>}.

{delete_node_by_name, <<"DELETE FROM `nodes` WHERE `id`= ?">>}.

{list_nodes_for_org, <<"SELECT `name` FROM `nodes` WHERE `org_id`= ?">>}.
