%% -*- mode: erlang; -*-
[
 %% SASL config
 {sasl, [
         {sasl_error_logger, {file, "log/sasl-error.log"}},
         {errlog_type, error},
         {error_logger_mf_dir, "log/sasl"},      % Log directory
         {error_logger_mf_maxbytes, 10485760},   % 10 MB max file size
         {error_logger_mf_maxfiles, 5}           % 5 files max
        ]},

 %% Default bookshelf_store Config
 %% The following config should never make it into a production system
 {bookshelf_store, [{disk_store, "/tmp/bookshelf_store/data"}]},

 %% Default bookshelf_wi Config
 {bookshelf_wi, [{domains, ["localhost.localdomain"]},
                 {interface, "lo"},
                 {certfile, ""},
                 {port, 4321},
                 {pool, 100},
                 {keys, {"e1efc99729beb175",
                         "fc683cd9ed1990ca"}},
].

